.trusted-by,
.trusted-by * {
  box-sizing: border-box;
}
.trusted-by {
  display:flex;
}
.trusted-by__area {
  background: #1e3050;
  height: 180px;
  width:100%;
  justify-content: center;
    align-items: center;
    display: flex;
}
.trusted-by__brand-logos {
  background: #1e3050;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  width: 999.58px;
}
.trusted-by__brands {
  flex-shrink: 0;
  width: 899.62px;
  height: 30px;
  position: static;
}
.trusted-by__group-37039 {
  width: 899.62px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  gap:60px;
}
.trusted-by__icon {
    display: flex;
    align-items: center;
}
.trusted-by__slack{
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.slack-2__vector2{
    margin-left: -46px;
    margin-bottom: -6px;
}
.trusted-by__group-37038{
    display: flex;
    align-items: center;
}