.upd-prof-con-main {
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-radius: 4px;
}

.upd-prof-head {
  margin-bottom: 20px;
}

.upd-prof-tb {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.upd-prof-btns {
  display: flex;
  gap: 10px;
}
