.pagination,
.pagination * {
        box-sizing: border-box;
}
.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.pages {
    color: #2f3037;
    text-align: left;
    position: relative;
}
.icon-arrow-left {
    border-radius: 100px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    cursor: pointer;
}
.icon-arrow-right {
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.icon-arrow-left:hover .svgBack, .icon-arrow-right:hover .svgBack{
    display:inline-block;
}
.svgBack{
    display: none;
}