.wraper * {
    margin: 0;
    box-sizing: border-box;
}

.wraper {
    background-color: white;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 100rem;
    margin: 0 auto;
}

.gient_os_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.main_cont {
    max-width: 31.875rem;
    position: relative;
    z-index: 1;
}

.main_cont h3 {
    /* Header/H3 */
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    background: linear-gradient(90deg, #55B8FF 0%, #C955FF 54.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_cont p {
    color: #2D4777;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 2.19rem;
}

.main_cont p span {
    font-weight: 700;
}

.founder_info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.avtar_cont {
    width: 3.75rem;
    height: 3.75rem;
    background-image: url("../../assets/images/Avtar.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.founder_info p {
    margin-top: 0;
}

.social_icons {
    display: flex;
    gap: .62rem;
    margin-top: .62rem;
}

.btn_cont {
    display: flex;
    justify-content: flex-end;
}

.btn {
    font-size: 0.75rem;
    text-transform: capitalize;
    font-weight: 600;
    height: fit-content !important;
    padding: 0.625rem 1.25rem !important;
}

.founder_info svg{
    cursor: pointer;
}

@media(max-width:600px) {
    .gient_os_logo{
        display: none;
    }
    .wraper {
        height: fit-content;
        padding: 20vw 1.31rem;
    }

    .main_cont {
        max-width: initial;
        width: 100%;
    }

    .main_cont p {
        font-size: 3vw;
    }
}