.profile_view .profile__block.profile__container {
    justify-content: flex-start;
    align-items: normal;
    margin: 0px;
    gap: 10px;
}
.profile_view .profile__status {
    padding-top: 1rem;
}
.profile_view .profile__short-info{
    width:auto;
    flex: 1;
}
.profile_view .profile__status{
    width:auto;
    padding: 10px 20px;
    flex: 1;
}
.profile_view .profile__counter_text{
    margin:0px;
}
.profile_view .profile__container{
    width:100%;

}