.search-icon-deail-top {
  /* border-bottom: 1px solid #e3e4e7; */
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.seach-icon-link {
  /* display: flex;
  gap: 0 5px;
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #18181c;
  align-items: center;
  width: 100%;
  justify-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.seach-icon-link a {
  color: #18181c;
}

.search-icon-left h2 {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.search-icon-left p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2f3037;
}

.seach-icon-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 35px; */
}

.search-icon-right {
  display: flex;
  gap: 0 15px;
}

.search-icon-left {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.icon-deatil-item {
  width: 100%;
  height: 8.75rem;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
  flex-grow: 1;
}

.icon-deatil-item p {
  position: relative;
  font-family: var(--font, "Nunito Sans");
  color: var(--text-secondary, #676f7e);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  /* font-family: Nunito; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  padding-top: 8px;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}

.inner-link {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2f3037;
  /* margin-bottom: 10px; */
}

.icons-detail-grid.small {
  grid-template-columns: repeat(auto-fit, minmax(170px, 170px));
}

.icons-detail-grid {
  /* display: flex;
  gap: 1.88rem;
  flex-flow: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 1.8rem;
  width: 100%;
}

.spinner_loader{
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:900px) {
  .icons-detail-grid {
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  }
}

.search-result-root {
  background: white;
}

.search-icon-detail-left {
  display: flex;
}

.search-icon-detail-bottom {
  display: flex;
  background: white;
  padding: 50px 50px;
  gap: 30px;
  max-width: 1270px;
  margin: auto;
  justify-content: space-between;
}

.search-icon-detail-bottom .search-icon-detail-inner {
  padding-bottom: 20px;
}

.search-icon-detail-bottom .search-icon-detail-inner .PaginationBar {
  margin-top: initial;
}

.icon-deatil-item:hover {
  border: 1px solid #7238fa;
}

.icon-deatil-item img {
  position: relative;
  object-fit: contain;
  max-width: 3rem;
  max-height: 3rem;
}

@media(max-width: 900px) {
  .icon-deatil-item img {
    width: 2.7rem;
    height: 2.7rem;
  }
}

.search-icon-detail-inner {
  display: flex;
  flex-direction: column;
  gap: 2.2rem 0;
  align-items: center;
  width: 100%;
  /* max-width: 800px; */
}

.i96px svg {
  width: 240px;
  height: 240px;
}

.i72px svg {
  width: 180px;
  height: 180px;
}

.i48px svg {
  width: 160px;
  height: 160px;
}

.i32px svg {
  width: 140px;
  height: 140px;
}

.i24px svg {
  width: 120px;
  height: 120px;
}

.i16px svg {
  width: 100px;
  height: 100px;
}

.IconPage_iconWraper img.i96px {
  width: 240px;
  height: 240px;
}

.IconPage_iconWraper img.i72px {
  width: 180px;
  height: 180px;
}

.IconPage_iconWraper img.i48px {
  width: 160px;
  height: 160px;
}

@media(max-width: 600px) {
  .IconPage_iconWraper img.i48px {
    width: 35vw;
    height: 35vw;
    object-fit: contain;
  }
}

.IconPage_iconWraper img.i32px {
  width: 140px;
  height: 140px;
}

.IconPage_iconWraper img.i24px {
  width: 120px;
  height: 120px;
}

.IconPage_iconWraper img.i16px {
  width: 100px;
  height: 100px;
}

.icon-small-grid {
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
}

.icon-small-item img {
  height: 20px;
  width: 20px;
}

.icon-small-item:hover {
  border: 1px solid #7238fa;
}

.icon-big-img {
  position: relative;
}

.close-inner-btn {
  position: absolute;
  left: -15px;
  top: -13px;
  cursor: pointer;
  z-index: 99999;
}

.close-inner-btn svg {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
}

.titlewithborder {
  display: flex;
  gap: 0 5px;
  align-items: center;
}

.titlewithborder div {
  height: 1px;
  background: #e3e4e7;
  width: 86%;
}

.titlewithborder {
  margin-bottom: 10px;
}

.icons-details-title h1 {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.icons-details-title p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2f3037;
}

.p-50 {
  padding: 50px;
}

.icons-details-title {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
  margin-bottom: 50px;
}

.icons-details-grid {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  justify-content: center;
}

.icons-details-grid p.secondary {
  color: "#18181C";
  font-size: 14px;
  font-family: var(--font, "Nunito Sans");
  font-weight: 500;
}

.icons-details-grid p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #18181c;
}

.icons-details-item {
  cursor: pointer;
}

.searchlist-title h1 {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #5e5f6e;
}

.searchlist-title h1 span {
  color: #000000;
}

.similar-tags-grid {
  display: flex;
  gap: 0 5px;
}

.similar-tags-grid div {
  border: 1px solid #e3e4e7;
  border-radius: 4px;
  background: #fcfcfd;
}

.similar-tags-grid div p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #5e5f6e;
  padding: 4px 7px;
}

.similir-tags {
  display: flex;
  margin-bottom: 15vh;
  gap: 0 0px;
}

.similar-p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 22px;
  color: #5e5f6e;
}

.searchlist-body {
  padding: 0 50px;
}

.similir-tags {
  margin-top: 15px;
}

.searchlist-item-title p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2f3037;
}

.searchlist-item-title div {
  height: 1px;
  width: 93%;

  background: #e3e4e7;
}

.searchlist-item-title {
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.searchlist-title {
  margin-top: 30px;
}

.searchlist-icons-grid {
  margin-top: 30px;
}

.searchlist-item-root-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-name-link p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2f3037;
}

.icon-name-link a {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5e5f6e;
  display: flex;
  align-items: center;
  gap: 0 2px;
}

.searchlist-icons-grid {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.searchresult-innner-details {
  margin-top: 50px;
}

.searchresult-innner-details {
  padding: 0 50px;
}

.filterdiv1 {
  height: 1px;
  /* padding: 0 50px; */
  /* margin-top: 30px; */
  width: 84%;
  background: #e3e4e7;
}

.search-icon-filters {
  display: flex;
  gap: 0 10px;
  padding: 0 30px;
  padding-top: 30px;
  align-items: center;
}

.chatstroke-p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.explore-p {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

/* .react-responsive-modal-modal {
  border-radius: 16px;
} */

.react-responsive-modal-closeButton {
  top: 20px !important;
  right: 20px !important;
}

.react-responsive-modal-closeButton svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #676F7E !important;
  background: white ;
  border-radius: 20px;
  padding: 2px;
  border: 2px solid #676F7E;
}

.empty-search-result {
  position: relative;
  right: -30%;
}

.free-only {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.free-only .check-box {
  flex-shrink: 0;
  width: 14.62px;
  height: 19.38px;
  position: relative;
}

.free-only .not-checked {
  border-radius: 2px;
  border-style: solid;
  border-color: #676f7e;
  border-width: 1.5px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: calc(50% - 7.31px);
  top: calc(50% - 6.69px);
  cursor: pointer;
}

.free-only .checked {
  border-radius: 2px;
  border-style: solid;
  border-color: #676f7e;
  border-width: 1.5px;
  width: 14px;
  height: 14px;
  background: #7238fa;
  position: absolute;
  left: calc(50% - 7.31px);
  top: calc(50% - 6.69px);
  cursor: pointer;
}

.free-only .free-only2 {
  line-height: 24px;
  color: #000000;
  text-align: left;
  font: var(--body-1, 500 13px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-icon-detail-category-button-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.pagination li {
  cursor: pointer;
}

.pagination li a {
  color: var(--brand-primary-violet, #7238fa);
  text-align: center;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 5px;
}

.pagination .previous,
.pagination .next {
  color: #7238fa !important;
  font-family: "Nunito sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pagination .selected {
  border-radius: 100px;
  background: var(--brand-primary-violet, #7238fa);
  color: var(--support-white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* padding: 5px 10px; */
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pagination li.selected a {
  color: white !important;
}

.pagination_btn {
  color: var(--brand-primary-violet, #7238fa);
  /* Title/Subtitle 1 */
  font-family: var(--font, "Nunito Sans");
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.frame-37494 {
  padding: .8rem 1rem;
  display: none;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #C5CAD3;
  background: #FFF;
}

@media(max-width:600px) {
  .frame-37494 {
    padding: .47rem .6rem;
  }
}

.frame-37494 svg {
  height: 35px;
  cursor: pointer;
}

.mobileSideBar-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 1rem;
}

.mobileSideBar-button {
  background: var(--support-light-grey, #f0f3f5);
  border-radius: 100px;
  border: 2px solid #1e3050;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.mobileSideBar-button2 {
  color: var(--text-primary, #1e3050);
  text-align: center;
  font: var(--button-button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileSideBar-button3 {
  background: #36DC5E;
  border-radius: 100px;
  border-style: solid;
  border: none;
  border-width: 2px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.mobileSideBar-button4 {
  color: var(--primary-label, #1e3050);
  text-align: center;
  font: var(--button-button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 458px) {
  .pagination_btn span {
    display: none !important;
  }
}

@media (max-width: 900px) {

  .search-icon-detail-bottom {
    padding: 2.12rem 1.875rem;
  }

  .search-icon-deail-top {
    padding: 0 2rem;
  }
}

@media (max-width: 610px) {
  .icons-detail-grid {
    grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
    gap: 1.3rem;
  }

  .icon-deatil-item {
    height: 6.5rem;
  }

  .icon-deatil-item img {
    margin-top: 0px !important;
  }

  .icon-deatil-item p {
    margin: 0;
    width: 75%;
  }

  .search-icon-detail-bottom {
    padding: 1.5rem 1.275rem;
  }

  .search-icon-detail-inner {
    gap: 1.5rem;
  }

  .pagination {
    gap: 3vw;
  }

  .search-icon-deail-top {
    padding: 0 1.275rem;
  }
}

.icon-delete-badge {
  cursor: pointer;
  position: relative;
  left: -85px;
  top: -15px;
  background: #5a4ed9;
  padding: 4px;
  border-radius: 20px;
}

.premium-badge {
  display: none;
  position: relative;
  right: -38%;
  top: 0%;
}

@media (min-width: 611px) {
  .premium-badge {
    display: inline-block;
  }
}

.svg-btn {
  cursor: pointer;
}

.popover-dropdown-list {
  background: var(--support-white, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: #c5cad3;
  border-width: 0.5px;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  position: relative;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.popover-body-oneline {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.popover-text {
  color: var(--icon-primary, #1e3050);
  text-align: left;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hidden {
  display: none;
}