.wraper * {
    box-sizing: border-box;
    margin: 0;
}

.wraper {
    background: #010818;
    width: 100%;
    padding: 3.75rem 0;
}

.item_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;

    margin-top: 4.8rem;
}

.item_cont .item {
    max-width: 69.375rem;
    width: 100%;
    height: 38.4375rem;
    flex-shrink: 0;
    background: #0F1421;
    display: flex;
    justify-content: center;
}

.content_wraper {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_wraper {
    position: relative;
}

.file_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_wraper .txt_cont {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 5.4rem;
}

.content_wraper .txt_cont h3 {
    color: var(--shades-tint-light-dark, #FFF);

    /* Header/H3 */
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content_wraper .txt_cont p,
.icon_details_description {
    color: var(--shades-tint-light-dark, #FFF);
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.6;
}

.icon_details_description {
    font-size: 0.6875rem;
    margin: 2rem auto;
    width: 70%;
    line-height: 1rem;
    text-align: center;
}

.icon_details_wraper {
    padding: 5.4rem;
}

.icon_size_represent {
    flex-direction: column;
}

.icon_size_represent .content_wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon_size_represent .content_wraper:first-child {
    height: 30%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.icon_size_represent .content_wraper:last-child {
    height: 70%;
}

@media(max-width: 900px) {
    .content_wraper .txt_cont {
        padding: 2.4rem;
    }

    .icon_size_represent .content_wraper:last-child {
        height: 60%;
    }

    .icon_size_represent .content_wraper:last-child svg {
        height: 80%;
    }
}

@media(max-width: 600px) {
    .item_cont .item {
        flex-direction: column;
        height: fit-content;
    }

    .item_cont .item svg {
        height: initial;
        width: 100%;
    }

    .content_wraper {
        width: 100%;
        height: 50%;
        padding: 7vw;
    }

    .grid_wraper {
        width: 80%;
    }

    .grid_wraper svg {
        width: 100%;
    }

    .icon_details_wraper {
        width: 100%;
        padding: initial;
    }

    .content_wraper .txt_cont {
        padding: initial;
    }

    .icon_size_represent .content_wraper:first-child {
        width: 100%;
    }

    .wraper {
        padding: 10vw 0;
    }

    .item_cont {
        margin-top: 10vw;
        gap: 5vw;
    }

        .content_wraper .txt_cont h3{
            font-size: 5.5vw;
        }

                .content_wraper .txt_cont p,
                .icon_details_description{
                    font-size: 2.8vw;
                    line-height: 4vw;
                }

                                .content_wraper .txt_cont{
                                    gap: 1.5vw;
                                }
}