.wraper *{
  margin: 0;
  box-sizing: border-box;
}

.wraper{
    max-width: 54.375rem;
    margin: 0 auto;
    padding: 6.25rem 1.31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.88rem;
}

.header{
    color: var(--shades-secondary, #676F7E);
text-align: center;

/* P/Medium */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.partners_container{
    display: flex;
    gap: 3.75rem;
    opacity: .7;
}

@media(max-width: 900px) {
    .partners_container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5vw;
    }

        .wraper{
            padding: 15vw 1.31rem;
        }

        .partners_container img{
            width: 22vw;
        }

}