.PaginationBar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

._23-icons-result,
._23-icons-result * {
  box-sizing: border-box;
}

._23-icons-result {
  color: var(--text-tint-black, #1b2232);
  font-family: var(--font, "Nunito Sans");
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media(max-width: 600px) {
  ._23-icons-result {
    font-size: 1.1rem;
  }

  .result-pagination ._1-50-of-2-420 {
    font-size: .8rem !important;
  }
}

.tag-list {
  display: flex;
  flex: 1;
  gap: 10px;
}

.tag,
.tag * {
  box-sizing: border-box;
}

.tag {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.body-1 {
  color: #1e3050;
  text-align: left;
  font: 700 12px "Nunito Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.icon-close {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.result-pagination,
.result-pagination * {
  box-sizing: border-box;
}

.result-pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.result-pagination ._1-50-of-2-420 {
  color: #676f7e;
  text-align: left;
  font: var(--subtitle-1, 600 15px "Nunito Sans", sans-serif);
  position: relative;
}

.result-pagination .icon-decrease {
  border-radius: 100px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.result-pagination .icon-increase {
  border-radius: 100px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  cursor: pointer;
}