body {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
}
.stab-text-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e4e7;
}
.stab-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.switch-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 29px 0 40px 0;
}
.switch-con {
  display: flex;
  align-items: center;

  justify-content: flex-start;
}
.stab-text-primary {
  margin-left: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}
.stab-heading-primary {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}
.stab-billing-body {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}
.stab-sec1 {
  display: flex;
  gap: 20px;
}
.stab-bill-con {
  width: 40.7%;
}
.stab-security-container {
  padding: 22px 0 10px;
}
