.wraper * {
    box-sizing: border-box;
}

.wraper {
    margin-top: 4.38rem;
}

.illustration_cont {
    background-image: url("../../assets/images/illustration-gradient.svg");
    height: 45rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.illustration_wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.overlay .gradient {
    width: 100%;
    height: 6.25rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.overlay .gradient:last-child {
    background: linear-gradient(0deg, #FFF 10%, rgba(255, 255, 255, 0.00) 90%);
}

@keyframes scroll {

    0%,
    100% {
        transform: translateY(-25%);
    }

    50% {
        transform: translateY(25%);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.motion {
    max-width: 82.92825rem;
    animation: scroll 80s linear infinite;
}

@media(max-width: 1280px) {

    .motion {
        width: 90%;
    }
}

@media(max-width: 900px) {

    .overlay .gradient {
        height: 3rem;
    }
}

@media(max-width: 600px) {
    .wraper {
        margin-top: 14vw;
    }

    .illustration_cont svg {
        height: initial;
    }

    .illustration_cont {
        height: 19rem;
        margin-top: 3vw;
    }

    @keyframes scroll {

    }

    .overlay .gradient {
        height: 1.5rem;
    }
}