.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 146px;
  padding: 100px 0;
}

.header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 0px;
  text-align: center;
}

.heading {
  color: #000000;
}

.gradient {
  text-align: center;
  background: linear-gradient(to right, #9453FD 20%, #FD53B9 40%, #9453FD 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s normal infinite;
}

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.stage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px
}

.stage {
  display: flex;
  justify-content: space-between;
  height: 280px;
  width: 870px;
}

.stage_block {
  display: flex;
  gap: 30px;
}

.number {
  text-align: center;
  width: 90px;
  padding-top: 30px;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

.text {
  width: 330px;
  margin-top: 30px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.description {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0px;
  color: #00000080;
}

.picture {
  max-height: 100%;
  max-width: 365px;
}

.picture_mobile {
  display: none;
}

.line {
  height: 64px;
}


@keyframes shine {
  to {
      background-position: 200% center;
  }
}

@media(width < 900px) {
  .container {
    gap: 75px;
    padding: 100px 30px;
  }

  .stage_container {
    width: 100%;
  }

  .stage {
    align-items: center;
    width: 100%;
    height: auto;
    height: 250px;
  }

  .stage_block {
    height: 100%;
  }

  .number {
    padding-top: 0px;
    padding: 30px;
    width: 80px;
    height: 100%;
    flex-grow: 1;
  }

  .text {
    width: calc(50vw - 150px);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }

  .title {
    font-size: 1.85rem;
    line-height: 2rem;
  }
  
  .description {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .picture {
    max-height: auto;
    height: auto;
    max-width: calc(50vw - 50px);
  }

  .line {
    height: auto;
  }

  .line > img  {
    width: 50vw;
  }
}

@media(width < 800px) {
  .stage_block {
    gap: 15px;
  }

  .text {
    width: calc(50vw - 110px);
  }

  .title {
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .picture {
    max-height: auto;
    height: auto;
    max-width: calc(50vw - 75px);
  }
}

@media(width < 600px) {
  .container {
    padding: 100px 10px;
  }

  .stage_container {
    gap: 10px;
  }

  .stage {
    height: 220px;
  }

  .text {
    width: calc(100vw - 100px);
  }

  .number {
    padding: 10px;
    width: 50px;
  }


  /* .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.25rem;
  } */

  .picture {
    display: none;
  }

  .picture_mobile {
    display: block;
    width: 75%;
    max-width: none;
  }

  .line {
    display: none;
  }
}