.form-google-button,
.form-button,
.form-button-outlined {
  display: flex;
  border: 0.5px solid #c8c9d0;
  /* border-radius: 2px; */
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #7238fa;
  font-size: 0.813rem;
  line-height: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  gap: 4px;
  cursor: pointer;
  width: -webkit-fill-available;
}
.form-button {
  color: #fff;
  background-color: #7238fa;
  transition: all 0.5s;
  border-radius: 100px;
}

.form-button:disabled,
.form-button-outlined:disabled {
  color: rgb(0, 0, 0);
  color: #c8c9d0;
  background-color: #ffffff;
  transition: all 0.5s;
  cursor: not-allowed;
}
