.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6.25rem 0;
}

.container_block {
  width: 1230px;
  gap: 5rem;
  display: flex;
  justify-content: center;
}

.main_information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 550px;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
  height: 3.125rem;
}

.focus_points {
  display: flex;
  gap: 1.125rem;
}

.property {
  padding: 1.125rem 1.25rem;
  border-radius: 100px;
  gap: 10px;
  background-color: #FFFFFF80;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
  letter-spacing: 0px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4375rem;
  letter-spacing: 0px;
}

.description {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.contact_arrow_container {
  display: flex;
  justify-content: left;
  margin-top: -20px;
}

.secondary_information {
  display: flex;
  flex-direction: column;
  width: 37.rem;
  gap: 1.125rem;
}

.interface {
  width: 100%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}


@media(max-width: 1300px){
  .container {
    padding: 6.25rem 2rem;
  }
  .container_block {
    width: 100%;
  }
}

@media(max-width: 900px){
  .container_block {
    gap: 1rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  
  .description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .secondary_information {
    justify-content: center;
  }

  .property {
    font-size: 0.725rem;
  }

  .focus_points {
    flex-wrap: wrap;
  }
}

@media(max-width: 850px){
  .container_block {
    flex-direction: column;
  }
  .services {
    justify-content: center;
  }
  
  .main_information {
    width: 100%;
  }
}