.popover-container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;

  position: relative;
  width: 159px;
  /* height: 140px; */

  background: #ffffff;

  border: 0.5px solid #e3e4e7;
  border-radius: 2px;
}

.popover-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 159px;
  height: 40px;
  cursor: pointer;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;

  text-decoration: none;
}
.p-i-link {
  text-decoration: none;
  color: black;
}
.popover-items:hover {
  background-color: #f6f5fa;
}

.p-c-margin-right {
  margin-right: 10px;
}
.react-tiny-popover-container {
  z-index: 999999 !important;
}
