.questions {
  border-top: 1px solid #C5CAD3;
  border-bottom: 1px solid #C5CAD3;
  background-color:#FFFFFF;

  &__title {
    display: block;
    padding-top: 6.25rem;
    margin-bottom: 3.125rem;
    font-size: 2rem;
    font-weight: 800;
    color: #1E3050;
    line-height: 2.75rem;
    text-align: center;
  }

  &__question {
    display: flex;
    flex-direction: column;
    color: #1E3050;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #C5CAD3;
  }

  &__cont{
    max-width: 90rem;
    margin: 0 auto;
  }

  &__question:first-child {
    padding-top: 0;
  }
  
  &__question:last-child {
    padding-bottom: 0.625rem;
    border-bottom: none;
  }

  &__text {
    font-weight: 700;
    margin-bottom: 0.625rem;
  }

  &__answer {}

  &__button {
    margin-bottom: 6.25rem;
  }
}