.hero-section,
.hero-section * {
  box-sizing: border-box;
}
.hero-section {
 display:flex;
 flex-direction: column;
 background-color: #DAFA4C;
 padding-top: 0px;
 padding-bottom: 200px;
}
.hero-section__background {
  background: #ffffff;
  width: 100%;
  height: 800px;
  position: relative;
}
.hero-section__header {
  max-width: 1170px;
  height: 214px;
  position: relative;
  margin:auto;
  display:flex;
  margin-bottom:50px;
  justify-content: space-between;
}
.hero-section__h-2{
  /* width: 100%; */
}
.hero-section__pattern {
  overflow: visible;
}
.hero-section__frame-37403 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top:-20px;
 
}
.hero-section__button {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 70px;
  position: relative;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1),
    0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}
.hero-section__icon-downloads {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__button2 {
  color: #1e3050;
  text-align: center;
  font: 800 20px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hero-section__button3 {
  background: #ffce00;
  border-radius: 10px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 205px;
  height: 70px;
  position: relative;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1),
    0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}
.hero-section__icon-pro {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__h-1 {
      width: 651px;
    height: 214px;
    /* position: static; */
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.hero-section__designed-for-millions-of-designers-developers-and-content-creators-who-care-for-attention-to-details {
  color: #1e3050;
  text-align: left;
  font: var(--p-large, 600 18px "Nunito Sans", sans-serif);
 
  width: 500px;
}
.hero-section__speed-up-work-with-super-clean-organise-icon-sets {
  color: #1e3050;
  text-align: left;
  font: 800 48px/48px "Nunito Sans", sans-serif;
  width: 651px;
  line-height:48px;
}
.hero-section__speed-up-work-with-super-clean-organise-icon-sets svg{
  margin-bottom:-10px;
  padding:0px 5px;
}
.hero-section__icon-rocket-variant-standard-price-paid {
  
}
.hero-section__d {
 
}
.hero-section__n {

}
.hero-section__f {
 
}
.hero-section__browser {
  width: 1170px;
  height: 720px;
  position: relative;
  margin:auto;
}
.hero-section__area {
  background: rgba(47, 48, 55, 0.95);
  border-radius: 10px;
  border-style: solid;
  border-color: #2c313a;
  border-width: 1px;
  width: 1170px;
  height: 720px;
 
  backdrop-filter: blur(12px);
}
.hero-section__dark-landscape {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1048.44px;
  height: 600px;
  overflow: hidden;
  margin:auto;
  padding-top:55px;
}
.hero-section__h {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__e {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__f2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__h2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__l {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__e2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__r {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__p {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__d2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__m {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__n2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__f3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__i {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__d3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__p2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__m2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__p3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__f4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__m3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__t {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__c8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__e3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__h3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__g {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__f5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__n3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__m4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__v {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__l2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__t2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s9 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__s10 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__t3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b9 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b10 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b11 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b12 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b13 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b14 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b15 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b16 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b17 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b18 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b19 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__b20 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-section__area2 {
  background: #24252a;
  border-radius: 10px 10px 0px 0px;
  border-style: solid;
  border-color: #2c313a;
  border-width: 1px;
  width: 1170px;
  height: 46.15px;
  display: flex;
  gap:10px;
  align-items: center;
 padding-left:20px;
}
.hero-section__ellipse-2597 {
  background: #2c313a;
  border-radius: 50%;
  border-style: solid;
  border-color: #2c313a;
  border-width: 1px;
  width: 16px;
  height: 16px;
 
}
.hero-section__ellipse-2598 {
  background: #2c313a;
  border-radius: 50%;
  border-style: solid;
  border-color: #2c313a;
  border-width: 1px;
  width: 16px;
  height: 16px;
 
}
.hero-section__ellipse-2599 {
  background: #2c313a;
  border-radius: 50%;
  border-style: solid;
  border-color: #2c313a;
  border-width: 1px;
  width: 16px;
  height: 16px;
}
