.paid-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.repay-link {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* Petals Violet */

  color: #7238fa;
  cursor: pointer;
}
