.profile {
  background-color: #f9fcfe;
  &__container{
    padding: 0 calc(50% - 615px);
    width: 1230px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.125rem 0;
    flex-wrap: wrap;
  }

  &__greeting {
    display: flex;
    flex-direction: column;
    width: 22.5rem;
    font-size: 3rem;
    font-weight: 800;
    line-height: 3rem;
  }

  &__greeting > span {
    background-image: linear-gradient(95.22deg, #6936E6 0%, #0094FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__short-info {
    width: 28.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #F0F3F5;
  }

  &__avatar_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.875rem;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5rem;
    width: 7.5rem;
    background-color: #FAD338;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    color: #1E3050;
  }

  &__pencil {
    cursor: pointer;
  }

  &__short-info_text {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  }

  &__short-info_text_row {
    display: flex;
    gap: 0.33rem;
    line-height: 1.25rem;
  }

  &__short-info_parameter {
    font-size: 0.875rem;
    color: #676F7E;
    width: 6.25rem;
  }
  
  &__short-info_value {
    font-weight: 800;
    color:#1E3050;
  }

  &__short-info_edit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    background-color: #ffffff;
    padding-top: 2rem;
    border: 1px solid #F0F3F5;
    border-radius: 10px;
  }

  &__counter {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 0.625rem;
  }

  &__counter_text {
    font-size: 1.125rem;
    color: #1E3050;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
  }

  &__plan {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__plan_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
  }

  &__plan_title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #676F7E;
  }

  &__plan_text {
    line-height: 1.25rem;
    font-weight: 800;
    color: #1E3050;
  }

  &__upgrade {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin: 1.625rem 0;
    cursor: pointer;
  }

  &__upgrade_text {
    font-weight: 800;
    line-height: 1.25rem;
    background-image: linear-gradient(95.22deg, #6936E6 0%, #0094FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.CircularProgressbar-text {
  transform: translate(0px, 2.5px) !important;
}


@media screen and (max-width: 1260px) {
  .profile {
    &__block {
      justify-content: center;
      gap: 1.25rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .profile {
    &__block {
      flex-direction: column;
      justify-content: center;
      gap: 1.25rem;
    }
    
    &__greeting {
      width: 28.5rem;
    }
  }
}

@media screen and (max-width: 515px) {
  .profile {
    &__greeting {
      width: 100%;
    }
    
    &__short-info {
      width: 100%;
    }

    &__short-info_parameter {
      width: 4.25rem;
    }
    
    &__status {
      width: 100%;
    }
  }
}