.cust-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.cust-list-nav-bar {
  width: 100%;
  /* margin-left: 60px; */
}

.container-body {
  margin-top: 60px;
}

.product-list-body {
  display: flex;
}

.product-list-body .padding {
  flex: 1;
}

.container-body-editor {
  display: flex;
  padding: 1rem 2rem;
  /* margin-top: 5rem; */
  height: 85vh;
  overflow: hidden;
  width: 95%;
  margin-left: 15px;
  /* margin-top: 10px; */
  justify-content: space-between;
  gap: 8px;
  color: #1e3050 !important;
}

.title-container {
  width: 70vw;
}

.main-editor {
  width: 75%;
}

.editor-sidebar {
  width: 23.5%;
  height: 85vh;
  background-color: white;
  overflow: auto;
  border-left: 0.1rem solid #e8e8e8;
}

.settings-container {
  padding: 1rem 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.savebtn {
  background-color: #f57c00;
  padding: 13px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: .5rem;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
}

.WhiteCard {
  height: 95%;
  /* width: 70vw; */
  /* border:1px solid blue; */
  /* border-radius: 10px; */
  background-color: #f5f5f5;
  overflow: auto;
}

.editor {
  /* border:1px solid yellow; */
  overflow-y: scroll;
  padding: 1.5rem 0;
}

.my-custom-class {
  height: 200px;
  width: 300px;
}

/* Toolbar */
.Toolbar {
  background-color: white;
  padding: 15px;
  display: flex;
  /* border: 1px solid black; */
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.082);
}

.icon {
  background-color: white;
}

.Toolbar .icon {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.Toolbar .icon.disabled {
  color: rgba(51, 51, 51, 0.5);
  pointer-events: none;
}

.Toolbar .icon:hover {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
}

.Toolbar .divider {
  border: none;
  border-left: 2px solid rgba(51, 51, 51, 0.2);
  margin: 2px 10px;
}

.Toolbar .icon+.icon {
  margin-left: 4px;
}

.tiptap {
  background-color: white;
  min-height: 80vh;
  width: 80%;
  outline: none;
  border: none;
  margin: 0 auto;
  /* border:1px solid black; */
  padding: 1rem 2rem;
}

.title-input {
  height: 2.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f57c00;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
}

.accordion-container {
  width: 300px;
  /* Set your desired width */
  /* border:1px solid black; */
  margin-left: 1rem;
  height: 400px;
}

.accordion-item {
  overflow: hidden;
  margin-bottom: 15px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  background: white;
  transition: height 1s ease-in-out;
}

.accordion-item.expanded {
  height: auto;
}

.accordion-title {
  cursor: pointer;
  padding: 5px;
  font-size: 1.2rem;
  opacity: 0.8;
}

.accordion-content {
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* Style for the input box in Section 1 */
.accordion-item.expanded .accordion-content input {
  width: 100%;
  box-sizing: border-box;
}

.setings-label {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.082);
}

.file-input-container {
  position: relative;
}

.hidden-input {
  display: none;
}

.icon-container {
  display: inline-block;
  cursor: pointer;
}

.icon {
  width: 32px;
  /* Set your desired icon size */
  height: 32px;
}

/* tags input */
@import url("https://fonts.googleapis.com/css?family=Overpass");

.publishedDate {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-bottom: .5rem;
}

.publishedDate p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.publishedDate p:first-child {
  font-size: 1rem;
  opacity: 0.8;
}

.labels {
  font-size: 1.2rem;
  opacity: 0.8;
}

.labels p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: .5rem;
}

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 88%;
  padding: 0 1rem;
  border: 0.1rem dashed #f57c00;
  border-radius: 5px;
  display: block;
  background-color: white;

}

.tag-input-box {
  border: 1px solid black;
  outline: none;
  display: block;
}

.tags-input:focus-within {
  border: 0.1rem solid #f57c00;
}

.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
  background-color: transparent;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #f57c00;
}

.tag-title {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 
.tag .tag-title {
  margin-top: 3px;
} */

.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: black;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}

.bloglist-container {
  /* border:1px solid black; */
  height: auto;
  width: 80vw;
  padding: 0.5rem;
}

.blogItem {
  border: 1px solid lightgray;
  margin-top: 0.8rem;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  height: 25px;
  width: 25px;
}

.blogItemTitle {
  font-size: 1.4rem;
  font-weight: 500;
}

.blogItemDate {
  font-size: 1rem;
  opacity: 0.8;
}

.bloglist-header {
  /* border:1px solid black; */
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.addblog-btn {
  border: none;
  height: 3rem;
  width: 200px;
  background-color: #f57c00;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
}

.label_blog {
  display: inline-block;
  background-color: white;
  color: rgb(94, 94, 94);
  width: 92%;
  border: .1rem dashed #f57c00;
  padding: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.label_blog p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

/* Style for hiding the file input */
input[type="file"] {
  display: none;
}

/* Style for the selected image */

.image_preview {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 1rem;
}

.img_blog {
  max-width: 200px;
  max-height: 150px;
  margin-top: 20px;
}

.imagebox{

  padding: 10px;
}

.image_box_file{
  height: 8rem;
  width: 10rem;
  border-radius: 10px;
}

.blog_content{
  display: flex;
  gap: 4%;
}

.title_box{
  width: 50rem; 
}