.inp_cont {
    display: flex;
    height: 2.5rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--shades-dark-grey, #C5CAD3);
    background: #FFF;
    position: relative;
    overflow: hidden;
}

.inp_cont .inp {
    border: none;
    outline: none;
    height: 100%;
    padding: 0.88rem;
    width: 90%;
    font-size: .875rem;
}

.inp_cont .inp::placeholder {
    font-size: .875rem;
}

.inp_cont svg {
    height: 1.1rem;
    width: 2rem;
    cursor: pointer;
}

.focused {
    border: 1px solid #000000;
}

.text_area {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    padding: 0.88rem;
    font-size: .875rem;
    resize: none;
}