.category-top-bar {
  background: var(--support-white, #ffffff);
  display: flex;
  width:100%;
  justify-content: center;
  padding:0px 50px;
}
.category-top-bar-filter-bar {
  background: var(--support-white, #ffffff);
  display: flex;
  flex-direction: row;
  max-width: 1170px;
  width: 100%;
}
.category-top-bar-content {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-width: 144px;
  position: relative;
}
.category-top-bar-type {
  border-radius: var(--radius, 10px);
  border-style: solid;
  border-color: #c5cad3;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.category-top-bar-tab {
  background: var(--bg, #ffffff);
  border-radius: 10px;
  /* border-style: solid; */
  /* border-color: #c5cad3; */
  /* border-width: 0px 2px 0px 0px; */
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72px;
  position: relative;
  cursor: pointer;
}
.category-top-bar-tab:first-child{
  border-style: solid;
  border-color: #c5cad3;
  border-width: 0px 2px 0px 0px;
  border-radius: 10px 0px 0px 10px;
}
.category-top-bar-label {
  color: var(--brand-primary-violet, #7238fa);
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-top-bar-tab2 {
  background: var(--support-white, #ffffff);
  border-radius: 0px 10px 10px 0px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72px;
  position: relative;
  cursor: pointer;
}
.category-top-bar-label2 {
  color: var(--label, #1e3050);
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-top-bar-style {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.category-top-bar-tab3 {
  background: var(--support-white, #ffffff);
  border-radius: var(--radius, 10px);
  padding: 10px; 
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}
.category-top-bar-tab3 img{
  width:20px;
  height:20px;
}
.category-top-bar-icon-grid {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.category-top-bar-rectangle-2412 {
  background: var(--brand-primary-violet, #7238fa);
  border-radius: 1px;
  border-style: solid;
  border-color: #7238fa;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
.category-top-bar-rectangle-2414 {
  background: var(--brand-primary-violet, #7238fa);
  border-radius: 1px;
  border-style: solid;
  border-color: #7238fa;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - 10px);
}
.category-top-bar-rectangle-2413 {
  background: var(--brand-primary-violet, #7238fa);
  border-radius: 1px;
  border-style: solid;
  border-color: #7238fa;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - -1px);
}
.category-top-bar-rectangle-2415 {
  background: var(--brand-primary-violet, #7238fa);
  border-radius: 1px;
  border-style: solid;
  border-color: #7238fa;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - -1px);
}
.category-top-bar-rectangle-24122 {
  background: var(--label, #1e3050);
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
.category-top-bar-rectangle-24142 {
  background: var(--label, #1e3050);
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - 10px);
}
.category-top-bar-rectangle-24132 {
  background: var(--label, #1e3050);
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - -1px);
}
.category-top-bar-rectangle-24152 {
  background: var(--label, #1e3050);
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - -1px);
}
.category-top-bar-rectangle-24123 {
  background: var(--text-secondary, #676f7e);
  border-radius: 1px;
  border-style: solid;
  border-color: #676f7e;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
.category-top-bar-rectangle-24143 {
  background: var(--text-secondary, #676f7e);
  border-radius: 1px;
  border-style: solid;
  border-color: #676f7e;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - 10px);
}
.category-top-bar-rectangle-24133 {
  background: var(--text-secondary, #676f7e);
  border-radius: 1px;
  border-style: solid;
  border-color: #676f7e;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - -1px);
}
.category-top-bar-rectangle-24153 {
  background: var(--text-secondary, #676f7e);
  border-radius: 1px;
  border-style: solid;
  border-color: #676f7e;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - -1px);
}
.category-top-bar-label3 {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
