.mybucket-root {
  padding: 30px;
}
.mybucket-title h1 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #2f3037;
}
.myBucket-left {
  width: 27%;
}
.myBucker-left-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #e3e4e7;
}
.myBucket-grid {
  margin-top: 30px;
  cursor: pointer;
}
.myBucker-left-item p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #000;
}
.new-buckt p {
  color: #2f3037;
}
.myBucket-grid {
  display: flex;
  /* gap: 0 30px; */
}
.myBucket-right-grid {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}
.myBucket-right-item {
  width: 120px;
}
.myBucket-right-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 7px;
}
.myBucket-right-item img{
  width: 25px;
  margin-top: 40px;
}
.icon-bucket{
  height: 100px;
}
.myBucket-right-item p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #5e5f6e;
}
.myBucket-right-item:hover {
  border: 1px solid #e3e4e7;
}
.action-icon button {
  background: unset;
  cursor: pointer;
  border: unset;
}
.action-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.myBucket-right-item {
  position: relative;
}
.action-icon {
  position: absolute;
  padding: 7px;
  top: 0;
  display: none;
}
.myBucket-right-item:hover .action-icon {
  display: flex;
}
.myBucket-right {
  border-left: 1px solid #e3e4e7;
  padding-left: 27px;
}
.favorit-item {
  border: unset;
}
.bucket-dialog-root {
  padding: 30px;
}
.bucket-title h1 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #2f3037;
  text-align: center;
}
.label-icon{
  text-align: center;
}
.bucket-dialog-root {
  width: 360px;
}
.bucket-input {
  width: 90%;
  border-radius: 8px;
  border: 2px solid var(--support-dark-grey, #C5CAD3);
  background: var(--support-white, #FFF);
  background: #ffffff;
  height: 50px;
  outline: none;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  
  color: #18181c;
  padding: 0 10px;
}
.bucket-input:focus-visible {
  border: 0.5px solid #c8c9d0;
  background-color: #fff;
}
.bucket-input::placeholder {
  color: #5e5f6e;
}
.create-btn {
  background: var(--primary-fill, #f0f3f5);
  border-radius: var(--primary-radius, 10px);
  border-style: solid;
  border-color: #c5cad3;
  border-width: 2px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 1),
    0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bucket-cancel-btn {
  background: var(--support-light-grey, #f0f3f5);
  border-radius: var(--secondary-radius, 10px);
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 1),
    0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bucket-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.bucket-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  padding:10px 20px;
}
.bucktet-form {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.create-btn.disabled {
  color: #c8c9d0 !important;
  background-color: #fff;
}
.react-responsive-modal-closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bucket-dialog-root {
  position: relative;
}
.myBucker-left-item:hover {
  background: #f7f7f8;
}
.myBucket-right {
  width: 73%;
}
.rename-btn {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  background-color: unset;
  border: unset;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.delete-btn {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #e5412e;
  background-color: unset;
  border: unset;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.sub-menu-inner {
  display: flex;
  flex-direction: column;
  gap: 23px 0;
}
.sub-menu-inner {
  padding: 20px;
}
.myBucker-left-item {
  position: relative;
}
.sub-menu {
  border: 0.5px solid #e3e4e7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 159px;
  position: absolute;
  z-index: 999999;
  right: 0;
  top: 40px;
  background-color: #fff;
  display: none;
}
.more-info-btn {
  background-color: unset;
  border: unset;
  cursor: pointer;
}
.submenu-root:hover .sub-menu {
  display: block;
}
