.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px 0;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    color: #1E3050;
    width: 870px;
    text-align: center;
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
  }

  &__text {
    font-size: 18px;
  }

  &__blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
    width: 270px;
    padding: 40px 60px;
    position: relative;
  }

  &__block_picture {
    height: 48px;
    margin-bottom: 20px
  }

  &__block_title {
    color: #1E3050;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
  }

  &__block_text {
    text-align: center;
    color: #676F7E;
  }


  // &__block:nth-child(2)::before,
  // &__block:nth-child(5)::before,

  &__wide-block {
    width: 290px;
  }

  &__wide-block:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #C5CAD3;
    border-right: 1px solid #C5CAD3;
    height: calc(50%);
    pointer-events: none;
    transform: translateY(50%);
  }
}


@media screen and (max-width: 1290px) {
  .info-container {
    &__wide-block:nth-child(2)::before {
      border-left: 1px solid #C5CAD3;
      border-right: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .info-container {
    &__header {
      width: 100%;
    }
    &__wide-block:nth-child(2)::before {
      border-left: none;
    }
  }
}