.contact-us-button {
  background-color: black;
  border-radius: 10px;
  height: 45px;
}

.contact-container {
  padding: 6.2rem 0;
}

.contact-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contect-input-text {
  padding: 7px 10px;
  height: 38px;
  border: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #18181c;
}

.contact-us-text {
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(95deg, #6936E6 0%, #0094FF 100%);
  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-us-body {
  width: 30%;
  max-width: 30rem;
}

.contact-us-success-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.2rem 1.2rem;
  height: fit-content;
  width: 30rem;
  height: 20rem;
}

.contact-us-success-modal h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--text-tint-black, #000);
  text-align: center;
  margin: 0;
  margin-top: 1.25rem;
}

.contact-us-success-modal p {
  color: var(--text-secondary, #676F7E);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  width: 70%;
  line-height: normal;
  margin: 0;
}

@media(max-width: 900px){
  .contact-us-body{
    width: 57%;
  }
}
@media(max-width: 600px){

.contact-container {
  padding: 2.2rem 0;
}

  .contact-us-body{
    width: 90%;
  }

  .contact-us-text{
    font-size: 2rem;
  }
}