.typography--variant-h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.typography--variant-h5 {
  font-size: 0.938rem;
  font-weight: 700;
}

.typography--variant-h6 {
  font-size: 0.813rem;
  font-weight: 700;
}

.typography--variant-sub1 {
  font-size: 0.813rem;
  font-weight: 500;
}

.typography--variant-body1 {
  font-size: 0.75rem;
  font-weight: 500;
}

.typography--variant-para1 {
  font-size: 0.75rem;
  font-weight: 400;
}

.typography--variant-cap {
  font-size: 0.625rem;
  font-weight: 500;
}

.typography--color-violetPressed {
  color: #521ad6;
}
.typography--color-violet {
  color: #7238fa;
}
.typography--color-violetHover {
  color: #8856fc;
}
.typography--color-violetPressed1 {
  color: #eae1fe;
}
.typography--color-violetHover1 {
  color: #f4f0ff;
}
.typography--color-limeYellow {
  color: #fad338;
}
.typography--color-20 {
  color: #18181c;
}
.typography--color-30 {
  color: #2f3037;
}
.typography--color-40 {
  color: #5e5f6e;
}
.typography--color-85 {
  color: #c8c9d0;
}
.typography--color-90 {
  color: #e3e4e7;
}
.typography--color-95 {
  color: #f7f7f8;
}
.typography--color-orange {
  color: #f2a60d;
}
.typography--color-red {
  color: #ff0000;
}
.typography--color-green {
  color: #0ac20a;
}
.typography--color-blue {
  color: #0a0ac2;
}
