.settings-tab {
  &__delete-button {
    text-align: center;
    color: #5C6B8A;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
  }

  &__table_textarea {
    height: 8.75rem !important;
    margin-top: 0.625rem 0;
  }
}