.main_landing_sec_wraper * {
    box-sizing: border-box;
    margin: 0;
}

.main_landing_sec {
    height: 39.375rem;
    background-image: url("../../assets/images/Mesh gradient.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_landing_sec .lft,
.main_landing_sec .rgt {
    width: 14rem;
    display: flex;
    flex-direction: column;
}

.main_landing_sec .lft{
  align-items: flex-end;
}

.main_landing_sec .rgt{
   align-items: flex-start;
}

.main_landing_sec .mid {
    width: calc(100% - 2*14rem);
    max-width: 63.75rem;
    height: 100%;
    padding: 4.6rem;
    position: relative;
}

.item_wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.88rem;
}

.plane_btn {
    background: linear-gradient(90deg, #C65EE8 0%, #8756FB 100%);
    color: white !important;
    border: none !important;
}

.figma_btn {
    background: linear-gradient(221deg, #C45FE9 -4%, rgba(255, 255, 255, 0.20) 21.81%);
    box-shadow: 0px -4px 12px 0px rgba(165, 91, 242, 0.25) inset;
    border: 1px solid #C45FE9 !important;
}

.floating_elem {
    display: flex;
    height: 33.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #010818;
    margin: 0 auto;
    margin-bottom: -12rem;
    margin-top: 2.81rem;
    position: relative;
    overflow: hidden;
}

.text_cont h1 {
    color: var(--shades-primary, #1E3050);
    text-align: center;
    font-family: Inter;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 66.5625rem;
    margin: 0 auto;
}

.text_cont p {
    color: var(--shades-primary, #1E3050);
    text-align: center;

    /* Link/Link */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: .63rem;
    opacity: 0.6;
}

.overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay_gradients {
    width: 12.5rem;
    height: 100%;
    flex-shrink: 0;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    background: linear-gradient(90deg, #010818 0%, rgba(1, 8, 24, 0.00) 100%);
    z-index: 1;
}

.overlay_gradients:last-child {
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    background: linear-gradient(90deg, rgba(1, 8, 24, 0.00) 0%, #010818 100%);
}

.viwe_styles_btn {
    display: flex;
    height: 3.125rem;
    padding: 0.6875rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--shades-primary-30, rgba(30, 48, 80, 0.30));
    color: var(--shades-secondary, #676F7E);
    text-align: center;

    /* Button/Button */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: white;
    margin: 0 auto;
    margin-top: 16rem;
    cursor: pointer;

}

/* ========================== */

@keyframes scroll-to-lft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.strip {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    margin-top: 1.25rem;
}

.strip:first-child {
    margin: 0;
}

.motion_div_to_lft {
    animation: scroll-to-lft 180s linear infinite;
    animation-delay: 3s;
}

.motion_div_to_rgt {
    animation: scroll-to-lft 180s linear infinite;
    animation-direction: reverse;
}

@media(max-width: 1280px) {
    .floating_elem {
        width: 100%;
        height: fit-content;
        padding: 4rem 0;
    }

    .main_landing_sec .lft,
    .main_landing_sec .rgt {
        width: 8rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main_landing_sec .mid {
        width: calc(100% - 2*8rem);
        height: 100%;
        padding: 4.6rem;
        position: relative;
    }

    .main_landing_sec .lft {
        align-items: flex-end;
    }

    .main_landing_sec .rgt {
        align-items: flex-start;
    }

    .main_landing_sec .lft svg,
    .main_landing_sec .rgt svg {
        width: initial;
    }
}

@media(max-width: 1024px) {

    .main_landing_sec .lft,
    .main_landing_sec .rgt {
        width: 3rem;
    }

    .main_landing_sec .mid {
        width: calc(100% - 2*3rem);
    }

    .text_cont h1 {
        font-size: 2.5rem;
    }
}

@media(max-width: 900px) {

    .main_landing_sec .lft,
    .main_landing_sec .rgt {
        display: none;
    }

    .main_landing_sec .mid {
        width: 100%;
        padding: 2.2rem;
    }

    .text_cont h1 {
        font-size: 4vw;
    }

    .text_cont p {
        font-size: 1.8vw;
    }

    .viwe_styles_btn {
        margin-top: 12rem;
    }

    .overlay_gradients {
        width: 30%;
    }

    .strip svg {
        height: initial;
    }
}

@media(max-width: 600px) {
    .main_landing_sec .mid {
        padding: 6vw 0;
    }

    .floating_elem {
        padding: 8vw 0;
        border-radius: initial;
        margin-top: 6vw;
    }

    .item_wraper {
        padding: 0 1.3rem;
    }

    .viwe_styles_btn {
        margin-top: 31%;
    }

    .text_cont h1 {
        font-size: 6.5vw;
    }

    .text_cont p {
        font-size: 3.1vw;
    }
}