.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: flex;
}

.image-switch-container {
  width: 91px;
  display: flex;
  /* background: #f7f7f8; */
  border-radius: 4px;
  height: 34px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.image-switch-activity {
  border-radius: 2px;
  width: 41px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.isa-active .is-active-svg {
  display: flex;
  background: #ffffff;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.is-active-svg {
  display: none;
  /* background-color: #fff; */
  color: #7238fa;
  padding: 5px;
  width: 41px;
  height: 29px;
}

.isa-active .is-display {
  display: none;
  /* background: #ffffff; */
}

.is-view-toggle {
  display: flex;
  justify-content: center;
  text-align: center;
}

.is-lable-con {
  width: 25px;
  height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Petals Violet */

  color: #7238fa;
  cursor: pointer;
  /* background: #ffffff; */
  border-radius: 2px;
}
.is-lable-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
