.plan-section {
  height: 900px;
  width: 520px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.price-plan-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.plan-container,
.price-plan-sec-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-container {
  width: 400px;
}
.plan-logo-svg {
  display: flex;
  gap: 10px;
}
.plan-price-sec {
  border: 0.5px solid #c8c9d0;
  border-radius: 2px;
  cursor: pointer;
  padding: 20px;
}
.plan-text-primary {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5e5f6e;
}
.price-plan-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.plan-text-secondery {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #2f3037;
}
.plan-logo-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price-plan-amt {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
}

.pd-switch-sec {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.pd-price-sec {
  display: flex;
  gap: 5px;

  justify-content: center;
  font-weight: 700;
  align-items: center;
  font-size: 13px;
  line-height: 17px;
}

.pd-txt {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  /* 40 */

  color: #5e5f6e;
}

.price-sec-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-values {
  text-align: right;
}
