.pricing_cont {
    padding-top: 3.25rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.125rem;
    align-self: stretch;
    /* max-width:69.625rem; */
    margin: 0 auto;

    background-image: url("../../assets/images/pricing-gradient.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.pricing_card_cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.question {
    color: var(--text-primary, #1E3050);
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
    max-width: 68.25rem;
}

.question svg {
    width: 1.3rem;
    margin-left: 1rem;
}

.currency_info{
    width: 100%;
    text-decoration: none;
    text-align: right;
}

.tariffs_switch {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 43.25rem;
    position: relative;
}

.tariffs_switch_pricing_page{
    width: fit-content;
    margin: 0 auto;
}

.free_txt {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
}

.tariffs_switch p {
    color: var(--shades-primary, #1E3050);
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    display: flex;
    align-items: center;
    margin: 0;

    gap: .31rem;
}

.tariffs_switch p svg {
    width: 1.25rem;
    height: 1.25rem;
}

.tariffs_switch p.active {
    color: var(--brand-primary-violet, #7238FA);
}

.tariffs_switch p span {
    color: #18BE41;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.question svg path {
    stroke: #1E3050 !important;
}

@media(max-width: 900px) {
    .pricing_cont {
        padding: 10vw 0 6.25vw 0;
    }

    .pricing_card_cont {
        justify-content: center;
        gap: 2vw;
    }

    .price_card {
        padding: 2.125rem;
        width: 16.5rem;
    }
}

@media(max-width: 600px) {
    .pricing_cont {
        padding: 12vw 1.3rem;
        gap: 8vw;
    }

    .tariffs_switch {
        width: initial;
        flex-wrap: wrap;
    }

    .pricing_card_cont {
        gap: 7vw;
    }

    .question {
        margin: 0;
    }

        .free_txt{
            display: none;
        }

                .currency_info {
                    width: 100%;
                    padding: 0 1.31rem;
                }
}