.style-body {
  padding: 30px 30px 30px 30px;
  padding-top: 100px;
}
.style-tabs-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-contain {
  padding-top: 30px;
}
.icons-details-grid {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}
.add-btn {
  width: 66px;
  height: 40px;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  line-height: 17px;
  background-color: #7238fa;
  border: unset;
  cursor: pointer;
  border-radius: 100px;
}
.icons-details-item {
  cursor: pointer;
}
.addStyle-dialog-root {
  /* width: 662px; */
  background-color: #fcfcfd;
  padding: 20px 30px;
}
.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialog-header div svg {
  width: 30px;
  height: 30px;
}
.dialog-header p {
  background: linear-gradient(91.19deg, #7238fa 0%, #fa3838 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.style-dialg-grid {
  display: flex;
  gap: 0 10px;
}
.icon-name {
  height: 38px;
  width: 100%;
  border: 0.5px solid #c8c9d0;
  border-radius: 2px;
  background: #ffffff;
  padding: 10px;
  color: #18181c;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.icon-brief {
  background: #f7f7f8;
  height: 190px;
  border: 0.5px solid #c8c9d0;
  border-radius: 2px;
  width: 100%;
  color: #18181c;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
}
.style-dialog-right {
  display: flex;
  flex-direction: column;
  width: 54%;
  gap: 10px 0;
}
.style-dialog-left img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.style-dialg-grid {
  margin-top: 32px;
}
.style-dialog-left {
  cursor: pointer;
}
.style-dialog-input {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.style-dialog-left p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5e5f6e;
}
.paid-unpaid p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5e5f6e;
}
.paid-unpaid {
  display: flex;
  gap: 0 10px;
  justify-content: flex-end;
  align-items: center;
}
.cancel-btn {
  width: 84px;
  /* height: 35px; */
  border: 0.5px solid #c8c9d0;
  border-radius: 100px;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #7238fa;
  background-color: unset;
}
.style-dialog-footer {
  display: flex;
  gap: 0 10px;
  justify-content: flex-end;
  margin-top: 50px;
}
.header-close {
  cursor: pointer;
}
.icons-details-item img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  background: #ffffff;
}
.icons-details-item img.whiteBackground {
  border:1px solid #C5CAD3;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.icons-details-item h5 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #138643;
  background: #e5ffe3;
  border-radius: 4px;
  padding: 2px 8px;
  width: 46px;
}
.icon-name-root {
  display: flex;
  justify-content: space-between;
}
.edit-btn {
  width: 88px;
  height: 35px;
  background: #ffffff;
  border-radius: 100px;
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  font-size: 13px;
  line-height: 17px;
  color: #7238fa;
  /* border: unset; */
  border: unset;
}
.edit-style-icon {
  background-color: #000000b3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.archive-btn {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  width: 88px;
  height: 35px;
  border: 1px solid #c8c9d0;
  background-color: transparent;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}
.icons-details-item {
  position: relative;
}
.edit-style-icon {
  position: absolute;
  bottom: 27px;
  width: 100%;
  display: none;
}
.icons-details-item:hover .edit-style-icon {
  display: flex;
}

.w-full{
  width: 100%;
}
.box-shadow-0{
box-shadow: inset 0px -0.5px 0px #CED2D9;
}
.inputdiv{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 8%;
}

.font-13{
  font-size: 13px;
  color: #18181C;
   font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
}

.type-title{
  margin-bottom: 10px;
}
.type-list{
  padding: 12px 0px;
  box-shadow: inset 0px -1px 0px #E6E7EB;
}

.font-12{
  font-size: 12px;
  color: #000000;
   font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
}

.type-list:hover{
  cursor: pointer;
}
.order-div{
  display: flex;
}

.parent-type-list{
  display: flex;
  justify-content: space-between;
}
.icon-div{
  display: flex;
}
.inner-type-div{
  align-self: center;
  height: 16px;
}
.css-i4bv87-MuiSvgIcon-root{
  height: 16px!important;
}