.search-section {
  padding: 18px 30px;
  gap: 20px;
  border: 2px solid #000000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 60px;
}
.search-con {
  position: relative;
  display: flex;
  justify-content: center;
}
.Search-svg {
  position: absolute;
  right: 20px;
  top: 19px;
  bottom: 11.27%;
}
