.button {
    box-sizing: border-box;

    display: flex;
    height: 3.125rem;
    padding: 0.6875rem 2rem !important;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    color: var(--shades-primary, #1E3050);
    text-align: center;
    text-transform: capitalize;

    /* Button/Button */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

    outline: none;
}

.border {
    border-radius: 0.5rem;
    border: 1px solid var(--icon-secondary, #676F7E);
}

.button svg {
    /* margin-right: 0.25rem; */
}

.disable {
    cursor: not-allowed;
    background: var(--support-light-grey, #F0F3F5);
    border-color: var(--support-light-grey, #F0F3F5);
}


.highlight {
    background: var(--brand-primary-violet, #7238FA) !important;
    color: white !important;
}

@media(max-width: 600px) {
    .button {
        padding: 4vw 3vw;
        font-size: 2.7vw;
        height: 12vw;
        padding: 0.6875rem 1rem !important;
    }

    .button svg {
        height: 5vw;
    }
}