.admin.PaginationBar{
    border-top: 1px solid #c5cad3;
}
.PaginationBar{
    display:flex;
    width:100%;
    align-items: center;
    /* height:80px; */
    margin-top:30px;
}
.pagination-count{
    position: absolute;
    right: 10px;
}