
.contact_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .62rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
  cursor: pointer;
}

.contact_link_gradient {
  background: linear-gradient(to right, #FFF 20%,#8F00FF 40%,#FD53B9 60%, #FFF 80%);
  background-size: 200% auto;
  animation: shine 9s normal infinite;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media(max-width:600px){
  .contact_link{
    font-size: 3vw;
  }
}