.style-container {
  background: #f9fbfd !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 69.61px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.shape-84 {
  opacity: 0.699999988079071;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 6.96px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.explore-most-usable-style-collection {
  color: #000000;
  text-align: center;
  font: 800 16.71px "Nunito Sans", sans-serif;
  position: relative;
  align-self: stretch;
}
.the-most-usable-style-that-works-with-any-of-your-design-styles-we-keep-adding-more-styles-stay-tuned {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: 600 11.14px "Nunito Sans", sans-serif;
  position: relative;
  align-self: stretch;
}
.shape-85 {
  opacity: 0.699999988079071;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.button2 {
  color: var(--_30, #1e3050);
  text-align: center;
  font: var(--button-button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.style-title {
  width:100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.classic-standard {
   display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 315px;
    position: relative;
    width: 375px;
    /* max-width: 375px; */
    flex: 1 1;
    flex-grow: 1;
}
.frame-37408 {
  cursor: pointer;
  background: #ffebb6;
  border-radius: 16px 16px 0px 0px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  height: 260px;
  position: relative;
  overflow: hidden;
}
.container-content{
    padding: 60px 30px;
    width: 100%;
    max-width: 1230px;
    position: relative;
    display:flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
}
.classic-standard svg {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-37407 {
  background: var(--color, #ffffff);
  border-radius: 0px 0px 16px 16px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 0px 2px 2px 2px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-37438 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.standard {
  color: var(--icon-primary, #1e3050);
  text-align: left;
  font: 800 16px "Nunito Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.tag {
  background: #aae5ff;
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag2 {
  background: #C0FEB6;
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.body-1 {
  color: var(--icon-primary, #1e3050);
  text-align: left;
  font: 700 12px "Nunito Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
}
._2-723 {
  color: var(--icon-primary, #1e3050);
  text-align: right;
  font: 800 16px "Nunito Sans", sans-serif;
  position: relative;
}
.frame-37408{

}
.frame-37408 img{
  background: transparent;
  margin-top: -65px;
  margin-left: -50px;
}


@media (max-width: 598px) {
  .style-container .button {
    height: 44px;
    padding: 8px 12px 8px 12px;
    width:200px;
  }
  .signIn-btn{
    width:32px;
    height:32px;
  }
  .shape-84,.shape-85{
    display:none;
  }
  .container-content{
    padding:30px;
    box-sizing: border-box;
  }
}
