.main_cont {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
}

.main_cont * {
    margin: 0;
    box-sizing: border-box;
}

.rgt_sec {
    /* width: calc(100% - 19rem); */
    flex: 1;
}

.bucket_bar {
    width: 19rem;
    min-height: 100vh;
    background-color: #F0F3F5;
    position: sticky;
    top: 0;
}

.icon_results_cont {
    padding: 1.88rem 1.87rem;
}

.header {
    display: flex;
    padding: 1.875rem;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
    background: #F9FAFB;
}

.main_cont .filters_cont {
    width: 19rem;
    background-color: #F0F3F5;
    min-height: 100vh;
    height: fit-content;
    padding: 1.875rem 1.25rem;
    position: sticky;
    top: 0;
}

.filter_overflow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
}

.filter_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filter_header p {
    color: var(--text-secondary, #676F7E);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
}

.options_cont {
    margin-top: .62rem;
    width: 100%;
}

.style_cont {
    width: 100%;
}

.search_filter {
    margin-bottom: 1.88rem;
}

.search_filter .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_side_bar_btn_cont {
    display: flex;
    align-items: center;
    gap: .62rem;
}

.search_filter .top h1 {
    color: var(--text-tint-black, #000);
    /* Header/H4 */
    font-family: var(--font, "Nunito Sans");
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.search_filter .top p {
    color: var(--text-secondary, #676F7E);

    /* P/Small */
    font-family: var(--font, "Nunito Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: .32rem
}

.icon_type_cont {
    display: flex;
    align-items: center;
    gap: 1.88rem;
}

.icon_type_cont .icon_type {
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
}

.icon_type_cont .icon_type.active p {
    color: #7238FA;
}

.icon_type_cont .icon_type.active svg rect {
    stroke: #7238FA;
}

.icon_type_cont .icon_type.active svg path {
    stroke: #7238FA;
}

.icon_type_cont .icon_type p {
    color: var(--text-primary, #1E3050);
    /* Header/H6 */
    font-family: var(--font, "Nunito Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.my_bucket_btn_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.my_bucket_btn_cont .my_bucket_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    display: none;
}

.ad_cont {
    gap: var(--gap-between, 0.625rem);
    flex-shrink: 0;
    grid-column: span 4;
    grid-row: span 1;
    height: 9.375rem !important;
}

.ad_box {
    position: relative;
    width: 100%;
    height: 100% !important;
    background: #FEF9EB;
    margin: 0 auto;
}

/* .ad {
    height: 5.625rem !important;
    width: 100% !important;
} */

.close {
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 1%;
    z-index: 1;
}

.all_styles_wraper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 4rem;
}

.all_styles_cont {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.875rem;
    flex-wrap: wrap;
}

.all_style_text_cont {
    text-align: center;
    width: 100%;
}

.all_style_text_cont h4 {
    overflow: hidden;
    color: var(--shades-primary, #1E3050);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all_style_text_cont p {
    color: var(--shades-primary, #1E3050);
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
}

.all_styles_header {
    font-size: 1rem;
}

.style_card {
    display: flex;
    padding: 2.5rem 0rem 1.25rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    border-radius: var(--gap-between, 0.625rem);
    border-width: 1px;
    border-style: solid;
    width: 11.25rem;
    cursor: pointer;
}

.all_styles_image {
    width: 55%;

}

.bucket_name {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.bucket_name svg {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
}

.floating_btn {
    position: fixed;
    bottom: 14px;
    z-index: 100 !important;
    background-color: #1E3050;
    color: white;
    font-size: .8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.267);
    transform: translate(-50%, 0);
    left: 50%;
}

.similar_icons_cont {
    margin-top: 2rem;
}

.similar_icons_cont h3 {
    color: var(--text-tint-black, #000);
    /* Header/H4 */
    font-family: var(--font, "Nunito Sans");
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.loadMoreLoader {
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_result_cont {
    width: 100%;
}

.styleSet_wraper {
    margin-bottom: 1.87rem;
}

.search_result_icons_header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: .32rem;
}

.view_all_icons {
    display: flex;
    height: 1.4125rem;
    padding: 0.625rem 0.9375rem;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 6.25rem;
    background: var(--shades-light-grey, #F0F3F5);

    color: var(--brand-primary-violet, #7238FA);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;

    margin: 0;
}

.styleSet_ad_cont {
    width: 15rem;
}

@media(max-width: 1280px) {
    .main_cont .filters_cont {
        width: 15rem;
    }

    .rgt_sec {
        width: calc(100% - 14rem);
    }
}

@media(max-width: 1024px) {
    .style_card {
        width: 10.25rem;
        padding: 1.5rem 0rem 1.25rem 0rem;
    }
}

@media(max-width: 900px) {
    .filter_btn {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter_btn svg {
        height: 5vw;
        width: 5vw;
        cursor: pointer;
    }

    .main_cont .filters_cont {
        width: 50%;
        position: fixed;
        z-index: 100;
        left: -100%;
        transition: all .5s;
    }

    .main_cont .filters_cont.sidebar_open {
        left: 0;
    }

    .rgt_sec {
        width: 100%;
    }
}

@media(max-width:600px) {

    .header {
        padding: 5vw 1.3rem;
        gap: 1rem;
    }

    .header .lft {
        overflow: auto;
        width: 100%;
    }

    .header .lft::-webkit-scrollbar {
        display: none;
    }

    .header .icon_type_cont {
        gap: 3vw;
        justify-content: space-between;
    }

    .header .divider {
        height: 8vw;
        width: 1vw;
        background-color: #1E3050;
    }

    .icon_results_cont {
        padding: 5vw 1.3rem;
    }

    .search_filter {
        margin-bottom: 3vw;
    }

    .top {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 3vw;
    }

    .dropdown_search_cont {
        width: 100%;
    }

    .mobile_side_bar_btn_cont {
        justify-content: space-between;
        width: 100%;
    }

    .filter_btn svg {
        height: 9vw;
        width: 9vw;
    }

    .main_cont .filters_cont {
        width: 70%;
    }

    .my_bucket_btn_cont .my_bucket_mobile {
        display: flex;
    }

    .style_card {
        width: 26vw;
        padding: 5vw 0rem 5vw 0rem;
        gap: 6vw;
    }

    .all_styles_cont {
        gap: 5vw;
    }

    .all_style_text_cont h4 {
        font-size: 3vw;
        width: 90%;
        margin: 0 auto;
    }

    .search_filter .top p {
        font-size: 3vw;
    }

    .styleSet_ad_cont {
        display: none;
    }
}