.left-bar,
.left-bar * {
  box-sizing: border-box;
}
.left-bar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-height:calc(100vh - 60px);
  overflow:auto;
}
.left-bar .style-sets-list {
  background: var(--light-background, #fcfcfd);
  border-style: solid;
  border-color: var(--_90, #e3e4e7);
  border-width: 0px 0.5px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
}
.left-bar .title {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.left-bar .style-sets {
  color: #000000;
  text-align: left;
  font: var(--header-6, 700 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .icon-add {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .body-oneline {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.left-bar .body-oneline.active {
  background:#dcdcdc;
}
.left-bar .os {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .all-style-sets {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-stroke {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-dueltone {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-mono {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-one-color {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .bell-03-custrg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.left-bar .ellipse-2601 {
  background: #81e9fe;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.left-bar .tent5 {
  position: absolute;
  left: calc(50% - 9px);
  top: calc(50% - 10px);
  overflow: visible;
}
.left-bar .curve-outline-flat {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-solid {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .ellipse-26012 {
  background: var(--petals-violet, #7238fa);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.left-bar .bell-03-custrg2 {
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 7px);
  overflow: visible;
}
.left-bar .curve-flat {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-focus {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .tent8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .curve-badges {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .seperator {
  flex-shrink: 0;
  width: 220px;
  height: 1px;
  position: relative;
}
.left-bar .divider-horizontal {
  background: var(--_90, #e3e4e7);
  width: 220px;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.left-bar .categories-list {
  background: var(--light-background, #fcfcfd);
  border-style: solid;
  border-color: var(--_90, #e3e4e7);
  border-width: 0px 0.5px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
}
.left-bar .categories {
  color: #000000;
  text-align: left;
  font: var(--header-6, 700 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-bar .icon-add2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.left-bar .text {
  color: var(--black, #000000);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
. {
  color: var(--green, #0d802d);
  text-align: right;
  font: var(--button, 700 14px "DM Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.left-bar .text2 {
  color: var(--red, #e5412e);
  text-align: left;
  font: var(--subtitle-1, 500 14px "DM Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}