.style_section_cont * {
    box-sizing: border-box;
}

.style_section_cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.8125rem, 1fr));
    /* grid-template-rows: repeat(8, 1fr); */
    grid-auto-flow: dense;
    max-width: 76.875rem;
    margin: 0 auto;
    padding: 3rem 0 6.25rem 0;
}

.style_section_cont .style_card {
    display: flex;
    padding: 3.75rem;
    flex-direction: column;
    cursor: pointer;
    grid-column: span 3;
    grid-row: span 2;
    gap: 2.5rem;
    justify-content: flex-start;
    border: .06rem solid #C5CAD3;
}

.icon_card {
    display: flex;
    height: 12.8125rem;
    padding: 2.75rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: .06rem solid #C5CAD3;
    background: var(--support-white, #FFF);
    margin: -.05rem 0 0 -.05rem;
    cursor: pointer;
}

.category_icon {
    width: 100%;
    height: 35%;
}

.icon_card p {
    color: var(--text-secondary, #676F7E);
    text-align: center;
    font-family: var(--font, "Nunito Sans");
    width: 100%;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.style_section_cont .style_card .txt h3 {
    color: var(--text-primary, #1E3050);
    font-family: var(--font, "Nunito Sans");
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
}

.style_section_cont .style_card .txt p {
    color: var(--text-primary, #676F7E);
    /* P/Large */
    font-family: var(--font, "Nunito Sans");
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: .62rem;
}

.header {
    display: flex;
    align-items: center;
}

.rgt_cont {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 1024px) {
    .style_section_cont {
        grid-template-columns: repeat(auto-fill, minmax(10.8125rem, 1fr));
    }

    .style_section_cont .style_card {
        grid-column: span 3;
        grid-row: span 2;
        padding: 6vw;
    }

    .category_icon {
        width: 100%;
        height: 40%;
    }

    .icon_card {
        height: 23vw;
        padding: 6vw;
    }
}

@media(max-width: 600px) {
    .style_section_cont {
        grid-template-columns: repeat(auto-fill, minmax(28.8vw, 1fr));
    }

    .icon_card {
        height: 28.8vw;
    }

    .icon_card p {
        font-size: 2.5vw;
    }

    .style_section_cont .style_card {
        gap: 4vw;
        padding: 6vw;
    }

    .style_section_cont .style_card svg {
        height: 20vw;
        width: 20vw;
    }

    .style_section_cont .style_card .txt h3 {
        font-size: 4.5vw;
        letter-spacing: .7vw;
    }

    .style_section_cont .style_card .txt p {
        font-size: 3.5vw;
        line-height: 4vw;
    }
}