.email-container .content {
  background: #f3f7ff;
  border-radius: 32px;
  padding: 60px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 1170px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.email-container .email-icon {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.email-container .content2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
  max-width: 480px;
  position: relative;
}
.get-latest-updates-to-your-inbox {
  color: var(--text-primary, #1e3050);
  text-align: center;
  font: var(--header-h-3, 800 24px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.we-keep-adding-new-icons-every-week-get-the-latest-updates-to-your-inbox-subscribe-to-your-newsletter-today {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.email-container .form {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  flex-shrink: 0;
  max-width: 480px;
  position: relative;
  width:100%;
}
.email-container .input-box {
  background: var(--support-white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  padding:15px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* height: 64px; */
  position: relative;
  box-shadow: inset 0px 5px 0px 0px rgba(92, 107, 138, 0.25);
}
.email-container .email-address {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--link-link, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.email-container .button {
  max-width: 120px;
}
.email-container .button2 {
  color: var(--primary-label, #1e3050);
  text-align: center;
  font: var(--button-button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 598px) {
    .get-latest-updates-to-your-inbox{
        font-size:20px;
    }
    .we-keep-adding-new-icons-every-week-get-the-latest-updates-to-your-inbox-subscribe-to-your-newsletter-today{
        font-size:14px;
    }
    .email-container .form {
      flex-direction: column;
    }
    .email-container .form .input-box{
        padding: 10px;
        /* height:44px; */
        width: 100%;
    }
    .email-container .form .input-box .email-address{
        font-size:14px;
    }
    .email-container .form .button{
        padding:8px 12px 8px 12px;
        height:44px;
        margin:auto;
    }
}