.frame-37534 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-tool-t1 {
  color: #000000;
  text-align: center;
  font: var(--header-h-3, 800 24px "Nunito Sans", sans-serif);
  position: relative;
}
.icon-tool-t2 {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
}

.frame-37459 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 370px;
  position: relative;
}
.frame-37442 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width:100%;
}
.frame-37491 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-37447 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  cursor:pointer;
}
.frame-37447-m{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  border-bottom: 1px solid lightgray;
  width:100%;
  padding-bottom: 10px;
}
.best-match {
  color: var(--brand-primary-violet, #7238fa);
  text-align: center;
  font: var(--header-h-4, 800 20px "Nunito Sans", sans-serif);
  position: relative;
}
.no-best-match {

  text-align: center;
  font: var(--header-h-4, 800 20px "Nunito Sans", sans-serif);
  position: relative;
  cursor: pointer;
}
.icon-decrease {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, -20px);
  overflow: visible;
}
.do-the-best-match-our-icon-collection-with-your-brand-tone-yup-you-can-set-the-default-brand-colour-too-as-primary {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.frame-37443 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.customise {
  color: var(--text-primary, #1e3050);
  text-align: left;
  font: var(--header-h-4, 800 20px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
  width: 370px;
  cursor:pointer;
}
.change-the-colour-stroke-weight-icon-size-set-the-angle-or-rotate-it-animate-it-and-download-in-svg-png-and-pdf {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.frame-37444 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bucket-it {
  color: var(--text-primary, #1e3050);
  text-align: left;
  font: var(--header-h-4, 800 20px "Nunito Sans", sans-serif);
  position: relative;
}
.create-a-bucket-and-add-organised-your-favourite-icons-customise-icons-for-easy-to-use-whenever-and-wherever-you-want {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.container-frame-content{
  display:flex;
  width: 100%;
  margin-top: 60px;
  gap:30px;
}
.frame-37459-m{
  display: none;
}


@media (max-width: 937px) {
  .container-frame-content .frame-37459-m{
      display: flex;
   }
   .container-frame-content .frame-37459{
      display: none;
   }
}

@media (max-width: 598px) {
  .frame-37459-m{
    display: flex;
  }
  .best-match{
    font-size:18px;
  }
  .no-best-match{
    font-size:18px;
  }
    .icon-tool-t1{
font-size:18px;
    }
    .icon-tool-t2{
font-size:12px;
    }
    .do-the-best-match-our-icon-collection-with-your-brand-tone-yup-you-can-set-the-default-brand-colour-too-as-primary{
      font-size:14px;
    }
}