.login_wraper *{
    margin: 0;
    box-sizing: border-box;
}

.login_wraper .login_cont{
    width: 40rem;
    min-height: 31rem;
    padding: 3.125rem 1.875rem;
    border-radius: 1.875rem;
    background: var(--shades-tint-light-dark, #FFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.12rem;
}

.top{
    width: 22.5rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top h2{
    color: var(--text-tint-black, #000);
        text-align: center;
    
        /* Header/H2 */
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.hr_line{
    height: 1px;
    width: 100%;
    background-color: #C5CAD3;
}

.social_login_btn{
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--shades-primary-30, rgba(30, 48, 80, 0.30));
    padding: .69rem !important;
    color: var(--shades-secondary, #676F7E);
    font-size: .875rem;
}



.inp_field_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
}

.inp_cont{
    display: flex;
    flex-direction: column;
    gap: .62rem;
    width: 100%;
}

.inp_field_cont p{
color: var(--shades-secondary, #676F7E);
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.btm_txt{
    color: var(--shades-secondary, #676F7E);
        text-align: center;
        font-family: Inter;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

}

.inp_field_cont .sign_up_code_txt{
    text-align: left ;
    text-decoration: none;
    margin-bottom: .6rem;
}

.wlc_text{
    color: var(--shades-primary, #1E3050);
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.wlc_text span{
    font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
    background: linear-gradient(to right, #FFC109, #FF0AE6);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.wlc_txt_cont p, .pass_desc, .input_field_placeholder p{
color: var(--shades-secondary, #676F7E);
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    margin-top: .31rem;
    line-height: normal;
}

.input_field_placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.62rem;
}

.input_field_placeholder p{
    text-decoration: none;
}


@media(max-width: 1024px){
    .top{
      gap: 1.5rem;
    }
}
@media(max-width: 900px){
    .top{
      gap: 2.5rem;
    }
}
@media(max-width: 600px){
    .top{
      width: 100%;
    }

        .login_wraper .login_cont{
            width: 100vw;
            height: 100vh;
        }
}
