.wraper {
    max-width: 76.875rem;
    padding: 2.9rem 0 0 0;
    margin: 0 auto;
}

.wraper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon_preview_cont {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.icon_preview {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
}

.icon_preview .preview_header {
    width: 100%;
}

.icon_preview .preview_header .name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon_preview .preview_header .name h1 {
    overflow: hidden;
    color: var(--text-primary, #1E3050);
    text-overflow: ellipsis;

    font-family: var(--font, "Nunito Sans");
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.icon_preview .preview_header .name .badg {
    display: flex;
    padding: 0.3125rem 0.9375rem;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 6.25rem;
    background: var(--support-light-grey, #F0F3F5);

    color: var(--text-primary, #1E3050);
    font-family: var(--font, "Nunito Sans");
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.icon_preview .preview_header .copy_link_btn {
    height: 30px;
    cursor: pointer;
}

.icon_preview .preview_header .sub_heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .2rem;
}

.icon_preview .preview_header .sub_heading .tags {
    display: flex;
    gap: .7rem;
}

.icon_preview .preview_header .sub_heading p,
.sub_heading p a {
    overflow: hidden;
    color: var(--text-secondary, #676F7E);
    text-overflow: ellipsis;
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    cursor: pointer;
}

.icon_preview .preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33.75rem;
    padding: 1.875rem;
    justify-content: space-between;
    gap: 0.625rem;
    flex-shrink: 0;

    border: 1px solid #C5CAD3;
}

.icon_preview .preview .btn_cont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.icon_preview .preview .add_btn {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 6.25rem;
    border: 1px solid var(--support-dark-grey, #C5CAD3);
    background: #FFF;
}

.icon_preview .preview .add_btn .add_icon {
    transition: all .3s;
    transform: rotate(0deg);
}

.icon_preview .preview .add_btn .add_icon.rotate {
    transform: rotate(45deg);
}

.icon_preview .preview .icon_cont {
    min-height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #676F7E; */
}

.icon_preview .preview .icon_cont img,
.icon_preview .preview .icon_cont .IconPage_iconWraper_svg {
    pointer-events: none;
}

.i96px {
    width: 240px;
    height: 240px;
}

.i72px {
    width: 180px;
    height: 180px;
}

.i48px {
    width: 160px;
    height: 160px;
}

.i32px {
    width: 140px;
    height: 140px;
}

.i24px {
    width: 120px;
    height: 120px;
}

.i16px {
    width: 100px;
    height: 100px;
}

.edit_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stroke_width_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    padding-bottom: 1rem;
}

.stroke_width_cont .stroke_active {
    background-color: #F0F3F5 !important;
}

.edit_cont .lft {
    display: flex;
    align-items: center;
    gap: 1.88rem;
}

.edit_cont .lft .stroke_cont {
    display: flex;
    align-items: center;
    gap: .63rem;
}

.lft .stroke_btn_svg path {
    fill: #1E3050 !important;
    transition: all .3s;
}

.lft .stroke_svg_rotate {
    transform: rotate(-90deg) !important;
}

.stroke {
    height: 55%;
    border-radius: 10rem;
    background-color: #1E3050;
}

.edit_cont .lft .devide_line {
    height: 2.5rem;
    width: .1rem;
    background-color: #C5CAD3;
    border-radius: 10rem;
}

.edit_btn:hover .stroke {
    display: none;
}

.edit_btn .stroke_value {
    display: none;
    font-weight: 600;
}

.edit_btn:hover .stroke_value {
    display: initial;
}

.edit_btn .color_btn_svg {
    transform: rotate(90deg);
    height: .6rem;
    width: .6rem;
}

.edit_btn .color_btn_svg path {
    fill: #C5CAD3;
}

.edit_btn {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 6.25rem;
    border: 1px solid var(--support-dark-grey, #C5CAD3);
}

.more_style {
    max-width: 76.875rem;
    margin: 0 auto;
    margin: 5rem 0;
}

.more_style h3 {
    color: var(--30, #1E3050);

    /* Header/H5 */
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.icon_customize {
    height: 33.75rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit_Options_cont {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.icon_customize .edit_Options p {
    color: var(--text-secondary, #676F7E);
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: .32rem;
}

.icon_customize .edit_Options .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.625rem;
}

.icon_customize .edit_Options .options .option {
    display: flex;
    height: 2.4rem;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 6.25rem;
    border: 1px solid var(--support-dark-grey, #F0F3F5);
    color: var(--text-primary, #1E3050);
    font-size: .89rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon_size .option {
    width: 2.4rem;
}

.edit_Options .options .option.option_active {
    background-color: #F0F3F5;
    border-color: #F0F3F5;
}

.action_btns {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: flex-start;
    width: 100%;
}

.preview_bottom {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}

.preview_bottom p {
    color: var(--text-secondary, #676F7E);

    /* P/Medium */
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: .75rem;
}

.png_card {
    height: 11.45rem;
    background-color: White;
    border: .1px solid var(--support-light-grey, #F0F3F5);
    cursor: pointer;
}

.png_card .png_img_cont {
    background-color: white;
    width: 100%;
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.png_img_action {
    height: calc(100% - 78%);
    width: 100%;
    background-color: white;
    cursor: pointer;
    border-top: .1px solid var(--support-light-grey, #F0F3F5);
}

.copy_png {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.copy_png:hover {
    background: var(--support-light-grey, #F0F3F5);
}

.copy_png:hover .copy_text {
    display: flex;
}

.copy_png .ratio {
    color: var(--text-secondary, #676F7E);
    text-align: center;

    /* Link/Link */
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.copy_png:hover .ratio {
    display: none;
}

.copy_png .copy_text {
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--text-primary, #1E3050);
    text-align: center;

    /* Button/Button */
    font-family: var(--font, "Nunito Sans");
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.copy_png .copy_text svg {
    margin-right: .32rem;
}

@media(max-width: 1024px) {
    .icon_preview {
        width: 57%;
    }

    .icon_customize {
        width: 40%;
    }
}

@media(max-width:900px) {
    .icon_preview_cont {
        flex-direction: column;
        align-items: flex-start;
    }

    .icon_preview {
        width: 100%;
    }

    .icon_customize {
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
    }

    .action_btns {
        margin-top: 2rem;
    }

    .more_style {
        margin: 3rem 0;
    }
}

@media(max-width:600px) {
    .icon_preview .preview_header .sub_heading .tags {
        gap: 0 .7rem;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .icon_preview .preview_header .sub_heading {
        flex-direction: column;
        gap: .7rem;
        align-items: flex-start;
    }

    .icon_preview .preview {
        height: 116vw;
        padding: 6vw;
    }

    .edit_btn {
        height: 9vw;
        width: 9vw;
    }

    .edit_cont .lft {
        gap: 5vw;
    }

    .add_to_bucket_cont {
        width: 65vw;
        padding: 5vw;
    }
}