.slider {
  display: flex;
  gap: 10px;
  align-items: center;
}
.slider-body {
  width: 260px;
  border: 0.5px solid #e3e4e7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.slider-text {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.slider-t1 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.slider-t2 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5e5f6e;
}
.slider-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.text-con {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: linear-gradient(112.09deg, #7238fa 0%, #fa3838 100%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
}
.text-t1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
}
.text-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cat-text-t1 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  width: 600px;
  text-align: center;
}
.cat-text-con {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}
.cate-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  border: 0.5px solid #e3e4e7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 220px;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cat-con {
  margin: 50px 0 70px;
}
.slider-container {
  margin: 50px 0 80px;
}
.owl-carousel .owl-item {
  float: right !important;
}
.owl-carousel {
  z-index: -1;
}
.owl-carousel .owl-wrapper-outer {
  direction: rtl !important;
}
.slider-view {
  width: 100%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding: 20px;
  z-index: -1;
}
.carousel {
  z-index: -1;
}
