.nav_wraper {
    width: 100%;
    background-color: white;
    height: fit-content;
    border-bottom: 1px solid var(--shades-light-grey, #F0F3F5);
    position: relative;
}

.nav_wraper * {
    margin: 0;
    box-sizing: border-box;
}

.nav_cont {
    height: 4.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 0.9375rem 1.25rem;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-between;
}

.nav_cont .lft {
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.brandLogo_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    cursor: pointer;
}

.link_cont {
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.link_cont .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .62rem;

    color: var(--text-primary, #1E3050);
    text-align: right;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
}

.rgt {
    display: flex;
    align-items: center;
    gap: 1rem
}

.update_button {
    background: linear-gradient(90deg, #C65EE8 0%, #8756FB 100%);
    height: 2.5rem !important;
    color: white;
}

.login_btn {
    border-radius: 0.5rem;
    border: 1px solid var(--shades-primary-30, rgba(30, 48, 80, 0.30));
    background: white !important;
    height: 2.5rem !important;
    color: #676F7E !important;
}

.menu_svg {
    cursor: pointer;
}

.user_propile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E3050;
    font-family: var(--font);
    font-size: .8rem;
    /* background: linear-gradient(90deg, #C65EE8 0%, #8756FB 100%); */
    background-color: #fad338;
    height: 1.875rem;
    width: 1.875rem;
    font-weight: 600;
    border-radius: 100%;
    cursor: pointer;
}

.product_launch_bedg {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product_launch_bedg img {
    height: 100%;
    width: 100%;
}

.nav_black {
    background-color: #010818 !important;
}

.nav_black .link {
    color: white;
}

.active_link {
    color: #fad338 !important;
}

.black_nav_search {
    height: 2.5rem !important;
    width: 16.375rem !important;
    padding: 0rem 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--shades-primary-30, rgba(30, 48, 80, 0.30)) !important;
}

.plane_info_and_profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
}

.text_cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text_cont h3 {
    color: var(--shades-primary, #FFF);
    text-align: center;

    /* Header/H6 */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.text_cont p {
    color: var(--brand-primary-yellow, #FAD338);
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.user_propile {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.3125rem;
    background: var(--brand-primary-violet, #7238FA);

    color: var(--shades-primary, #FFF);
    text-align: right;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
}

.search_bar_cont_resp {
    display: none;
}

.menu_svg {
    display: none;
}


@media(max-width: 1280px) {
    .product_launch_bedg {
        display: none;
    }

          .update_button {
              display: none;
          }
}

@media(max-width: 1024px) {
    .search_bar_cont {
        display: none;
    }


    .search_bar_cont_resp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .search_bar_cont_resp .black_nav_search {
        border-radius: 0;
        width: 90% !important;
        border-top: initial;
        margin-bottom: 3vw;
        border-color: #cccccc;
    }
}

@media(max-width:900px) {

    .menu_svg {
        display: initial;
    }

    .link_cont .link {
        display: none;
    }

    .link_cont .link.pricing,
    .link_cont .link.icons,
    .link_cont .link.limit {
        display: flex;
    }
}

@media(max-width:600px) {

    .update_button {
        display: none;
    }

    .link_cont .link.pricing {
        display: none;
    }

    .brand_name {
        display: none;
    }

    .brand_icon {
        height: 1.875rem;
        width: 1.875rem;
    }

    .nav_cont .lft {
        gap: 1rem;
    }

    .nav_cont .lft .link {
        gap: .5rem;
    }
}