/**************************/
/* pricing */
/**************************/
.section-prizing {
  background-color: #fafafa;
  width: 100;
}
.form-back-button {
  text-decoration: none;
  text-align: start;
  margin: 1.25rem 0 0 3.25rem;
}
.form-back-to-search-button {
  text-decoration: none;
  text-align: start;
  margin: 1.25rem 0 0 7rem;
}
.form-pricing-heading {
  padding: 2.75rem 0 0;
}
.form-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 54.6%;
}
.form-pricing-content,
.form-pricing-plan-content {
  display: flex;
  justify-content: center;
}
.form-toggle {
  padding: 1.25rem 0 15.875rem 0;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 1.25rem;
}
.form-prizing-plan {
  display: flex;
  flex-direction: column;

  padding: 1.25rem;
  background-color: #fff;
  border: 1px solid #e3e4e7;
}
.form-plan-list {
  border-top: 1px solid #e3e4e7;
  list-style: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.313rem 0 1.938rem 0;
  margin: 1.25rem 0 0 0;
}
.form-plan-list-item {
  display: flex;

  gap: 1rem;
}
.form-plan-button {
  background-color: #000;
  padding: 0.875rem 5.813rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  display: block;
}
.form-plan-header {
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.063rem;
}
.form-pricing-plan-content {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(-45%);
}

.form-price {
  display: flex;
  justify-content: space-between;
}
.form-price p span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.841rem;
}
.form-price p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

/**************************/
/* search result */
/**************************/
.section-search-result {
  background-color: #fcfcfd;
}

/**************************/
/* search result */
/**************************/
.section-collection,
.section-history {
  background-color: #fafafa;

  padding: 3.5rem 14.375rem 0;
}

.form-collection-icon-list {
  padding: 2.188rem;
}
.collection-icon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 97.7%;
}
.form-collection-list {
  display: flex;
  justify-content: center;
}
.form-collection {
  border: 0.5px solid #e3e4e7;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 1.875rem;
  height: 100vh;
  width: 100%;
}

/**************************/
/* History */
/**************************/
.history-download-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.form-history {
  padding: 1.875rem;
  background-color: #fff;
}
.icon-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.688rem 0;
  box-shadow: inset 0px -1px 0px #e6e7eb;
}
