/**************************/
/* BELOW 688 (Landscape Tablets) */
/**************************/

@media (max-width: 43em) {
  .login {
    width: 70%;
  }
  .form-logo {
    display: none;
  }
  .form-login {
    width: 100%;
  }
  .form-background {
    display: none;
  }
  .form-text {
    padding: 3rem 0 0.625rem 0;
  }
  .heading-primary {
    margin: 2rem 0 1.875rem;
  }
}
/**************************/
/* BELOW 605 (Landscape Tablets) */
/**************************/

@media (max-width: 37.8em) {
  .form-padding {
    padding: 0 5rem;
  }
}
/**************************/
/* BELOW 555 (Landscape Tablets) */
/**************************/

@media (max-width: 34.5em) {
  .form-padding {
    padding: 0 4rem;
  }
  .form-footer-text {
    padding: 2rem 1rem;
  }
  .form-verify-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/**************************/
/* BELOW 393 (Landscape Tablets) */
/**************************/

@media (max-width: 24.5em) {
  .form-padding {
    padding: 0 4.5rem;
  }
}
/**************************/
/* BELOW 505 (Landscape Tablets) */
/**************************/

@media (max-width: 31.5em) {
  .form-padding {
    padding: 0 3rem;
  }
}
/**************************/
/* BELOW 461 (Landscape Tablets) */
/**************************/

@media (max-width: 29em) {
  .form-padding {
    padding: 0 2rem;
  }
}
/**************************/
/* BELOW 400 (Landscape Tablets) */
/**************************/

@media (max-width: 25em) {
  .heading-primary {
    margin: 2rem 0 1.875rem;
  }
  .form-padding {
    padding: 0 1rem;
  }
}

