
.page-img {
  background: #51c7fc;
  padding: 65px 0px 65px 0px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1170px;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.page-img-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 460px;
  max-width: 460px;
  position: relative;
}
.communication-icons {
  text-transform: capitalize;
  color: var(--text-primary, #1e3050);
  text-align: left;
  font: var(--h-2, 700 32px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.no-need-to-reinvent-the-wheel-openstroke-io-let-you-focus-on-project-we-focus-on-icons {
  color: var(--text-primary, #1e3050);
  text-align: left;
  font: var(--p-large, 600 18px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tag {
  background: var(--support-white, #ffffff);
  border-radius: var(--radius-medium, 8px);
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.body-1 {
  color: var(--text-primary, #1e3050);
  text-align: left;
  font: 700 12px "Nunito Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.ad {
  background: #dbe7ff;
  border-radius: 8px;
  padding: 10px;
  /* display: flex; */
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 250px;
  position: relative;
}
.ads {
  height:100%;
  width: 100%;
  color: #000000;
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.ads .group-37151__icon-close-circle{
  position: absolute;
  right: -20px;
  top: -20px;
}
.grid {
  background: var(--support-white, #ffffff);
  border-radius: 20px;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 480px;
  height: 320px;
  max-width: 480px;
  max-height: 320px;
  position: relative;
  overflow: hidden;
}
.h {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.b {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.b2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.e {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.f {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.h2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.l {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.e2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.r {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.p {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.d {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.b3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.m {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.n {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.f2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.i {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.d2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.p2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.m2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.p3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.f3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.m3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.t {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.c8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.e3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.h3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.g {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.f4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.n2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.m4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.v {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.l2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.t2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s9 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.s10 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.t3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.b4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
