.clp-popover-container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;

  position: relative;
  width: 159px;

  background: #ffffff;

  border: 0.5px solid #e3e4e7;
  border-radius: 2px;
}

.clp-popover-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 159px;
  height: 40px;
  cursor: pointer;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;

  text-decoration: none;
}
.clp-p-i-link {
  text-decoration: none;
  color: black;
}
.clp-popover-items:hover {
  background-color: #f6f5fa;
}

.clp-p-c-margin-right {
  margin-right: 10px;
}

.bro-sto-ppo {
  background-color: #fff;
  padding: 32px 15px;
  height: 210px;
  width: 225px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.bro-sto-ppo-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.strock-svg-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.stroke-svg {
  height: 50px;
  width: 48px;
  display: flex;
  align-items: center;
}
.bro-ppo-text {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.bro-ppo-context {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.caret.caret-reversed {
  border-bottom: 20px solid #ffffff;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
  transform: rotate(180deg);
}

.bro-sto-tri {
  display: flex;
  justify-content: center;
}
