.invite-popover-section {
  height: 347px;
}
.margin {
  margin: 26px 0 65px 0;
}
.error {
  visibility: hidden;
  height: 1.25rem;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  color: #e5412e;
  align-items: center;
}
