@media only screen and (max-width: 1651px) {
  .tesinomial-slider-item {
    width: unset;
  }
}
@media only screen and (max-width: 1600px) {
  .testinomial-slider-root .slick-slide > div {
    margin: 0 10px;
  }
  .testinomial-slider-root .slick-list {
    margin: 0 -10px;
  }
  .tesinomial-slider-grid-item {
    margin: unset;
  }
}

@media only screen and (max-width: 1450px) {
 
  .landingPage-header-root-scroll .scrolling-header-grid {
    /* max-width: 1080px; */
    margin: auto 20px;
  }
  .inner-container {
    width: unset;
  }
  .explore-variant-right {
    padding-left: 63px;
  }
}

@media only screen and (max-width: 1280px) {
  .hero-grid {
    padding: 75px 0;
  }
  .simple-minimal-inner {
    padding: 75px 0;
  }
  .gradiantline-seciton img {
    height: 40px;
  }
  .explore-variant-inner {
    padding: 75px 0;
  }
  .testionomial-sldier-section {
    padding: 75px 0;
  }
  .categories-inner {
    padding: 75px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .her-grid-left-inner h1 {
    max-width: unset;
    font-size: 41px;
  }
  .simple-minimal-left-inner h2 {
    font-size: 41px;
  }
  .explore-variant-right-inner h2 {
    font-size: 41px;
  }
  .explore-variant-right {
    padding-left: 37px;
  }
  .testinomail-title h2 {
    font-size: 41px;
    line-height: 45px;
  }
  .categories-inner h2 {
    font-size: 41px;
  }
  .testionomial-sldier-section-container {
    max-width: 1080px;
    margin: 0 auto;
  }
  .categorieslider1 {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: unset;
  }
  .categorieslider2 {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: unset;
  }
}

@media only screen and (max-width: 1155px) {
  
  .landingPage-header-root-scroll .scrolling-header-grid {
    max-width: unset;
    padding: 15px 50px;
  }
  .simple-minimal-right {
    gap: 55px 0;
  }
  .testionomial-sldier-section-container {
    max-width: unset;
    padding: 0 50px;
  }
  .categorieslider1 {
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
  }
  .categorieslider2 {
    max-width: unset;
    margin-left: auto;
    margin-right: auto;

    padding: 0 50px;
  }
  .explore-variant-img img {
    width: 100%;
  }

  .inner-container2 {
    max-width: unset;
    padding: 0 50px;
  }
  .feature-hero-img img {
    width: 100%;
  }
  .freebies-grid-item-inner img {
    width: 100%;
  }
  .freebies-grid-item {
    width: 31.9%;
  }
  .landningpage-icon-list .icons-details-item {
    width: 22%;
  }
  .icons-details-item img {
    width: 100%;
  }
}

@media only screen and (max-width: 1050px) {
  .her-grid-left-inner h1 {
    font-size: 39px;
    line-height: 47px;
  }
  .her-grid-left-inner {
    gap: 15px 0;
  }
  .simple-minimal-left-inner h2 {
    font-size: 39px;
    line-height: 47px;
  }
  .simple-minimal-left-inner {
    gap: 15px 0;
  }
  .explore-variant-right-inner h2 {
    font-size: 39px;
    line-height: 47px;
  }
  .explore-variant-right-inner {
    gap: 15px 0;
  }
  .testinomail-title h2 {
    font-size: 39px;
    line-height: 47px;
  }
  .img-label {
    font-size: 15px;
  }
  .count {
    font-size: 15px;
    margin-top: 15px !important;
  }
  .feature-hero-title {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .instant-search-inner {
    padding: 75px 0;
  }
  .opemstorke-section {
    padding: 75px 0;
  }
  .brokenStroke-section {
    padding: 75px 0;
  }
  .variants-section {
    padding: 75px 0;
  }
  .set-on-brand-section {
    padding: 75px 0;
  }
  .custom-stroke-section {
    padding: 75px 0;
  }
  .resize-responsive-section {
    padding: 75px 0;
  }
  .files-section {
    padding: 75px 0;
  }
  .fature-grid-inner img {
    width: 100%;
  }
  .freebies-grid-item {
    width: 31.8%;
  }
}

@media only screen and (max-width: 992px) {
  .hero-grid {
    padding: 60px 0;
  }
  .her-grid-left-inner h1 {
    font-size: 36px;
    line-height: 41px;
  }
  .simple-minimal-left-inner h2 {
    font-size: 36px;
    line-height: 41px;
  }
  .simple-minimal-right {
    gap: 40px 0;
  }
  .simple-minimal-inner {
    padding: 60px 0;
  }
  .explore-variant-inner {
    padding: 60px 0;
  }
  .explore-variant-right-inner h2 {
    font-size: 36px;
    line-height: 41px;
  }
  .testionomial-sldier-section {
    padding: 60px 0;
  }
  .testinomail-title h2 {
    font-size: 36px;
    line-height: 41px;
  }
  .categories-inner {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 850px) {

  .hero-grid {
    flex-direction: column-reverse;
    gap: 40px 0;
  }
  .hero-grid-left {
    width: 100%;
  }
  .hero-grid-right {
    width: 100%;
  }
  .hero-grid-img img {
    float: unset;
  }
  .hero-grid-img {
    text-align: center;
  }
  .her-grid-left-inner {
    text-align: center;
    align-items: center;
  }
  .company-overview-inner {
    padding: 20px 0;
  }
  .brands-item-img img {
    width: 80px;
  }
  .simple-minimal-grid {
    flex-direction: column-reverse;
  }
  .simple-minimal-right {
    flex-direction: row;
  }
  .simple-minimal-small-img-grid {
    flex-direction: row;
    flex-flow: wrap;
  }
  .simple-minimal-right {
    width: 100%;
    gap: 0 40px;
  }
  .simple-minimal-small-img-grid div {
    width: 49%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .simple-minimal-small-img-grid {
    width: 38%;
  }
  .simple-minimal-right {
    align-items: center;
  }
  .simple-minimal-right {
    gap: 0 79px;
  }
  .simple-minimal-grid {
    gap: 40px 0;
  }
  .simple-minimal-left {
    width: 100%;
  }
  .simple-minimal-left-inner h2 {
    max-width: 600px;
  }
  .explor-variants-grid {
    flex-direction: column;
    gap: 40px 0;
  }
  .explore-variant-left {
    width: 100%;
  }
  .explore-variant-right {
    padding-left: 0;
    width: 100%;
  }
  .explore-variant-right-inner h2 {
    max-width: 541px;
  }
  .explore-variant-right-inner p {
    max-width: 587px;
  }
  .landingPage-header-root-scroll .scrolling-header-grid {
    padding: 20px 0;
    position: unset;
  }
  .landingPage-header-root-scroll .search-container {
    width: 300px;
  }
  .landingPage-header-root-scroll {
    position: unset;
    background-color: #f7f7f8;
    box-shadow: unset;
  }
  .landingPage-header-root {
    display: none;
  }
  .landingPage-header-root-scroll {
    display: none;
  }
  .mobile-header {
    display: block;
    /* padding: 20px 0; */
  }
  .scrolling-header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-search-bar .search-container {
    width: 320px;
  }
  .feature-hero-title h1 {
    font-size: 40px;
  }
  .feature-hero-title {
    gap: 15px 0;
  }
  .feature-good-company-grid {
    gap: 0 25px;
  }
  .instant-search-grid {
    flex-direction: column;
    gap: 20px 0;
  }
  .instant-grid-left {
    width: 100%;
  }
  .instant-grid-right {
    width: 100%;
  }
  .instant-grid-inner p {
    max-width: unset;
  }
  .instant-search-inner .search-container {
    width: 100%;
  }
  .openstroke-grid {
    flex-direction: column-reverse;
    align-items: unset;
    gap: 20px 0;
  }
  .openStroke-right {
    width: 100%;
  }
  .openstroke-left {
    width: 100%;
  }
  .openstroke-left p {
    max-width: unset;
  }
  .brokenstroke-grid {
    flex-direction: column;
    align-items: unset;
    gap: 20px 0;
  }
  .brokenstroke-right p {
    max-width: unset;
  }
  .variants-grid {
    flex-direction: column-reverse;
    align-items: unset;
    gap: 20px 0;
  }
  .variants-grid-left p {
    max-width: unset;
  }
  .set-on-brand-grid {
    flex-direction: column;
    gap: 20px 0;
    align-items: unset;
  }
  .set-on-brand-right p {
    max-width: unset;
  }
  .custom-stroke-grid {
    flex-direction: column-reverse;
    gap: 20px 0;
    align-items: unset;
  }
  .custom-stroke-left p {
    max-width: unset;
  }
  .resize-responsive-grid {
    flex-direction: column;
    gap: 20px 0;
    align-items: unset;
  }
  .resize-responsive-right p {
    max-width: unset;
  }
  .files-grid {
    flex-direction: column-reverse;
    gap: 20px 0;
    align-items: unset;
  }
  .files-left h2 {
    max-width: unset;
  }
  .files-left p {
    max-width: unset;
  }
  .freebies-grid-item {
    width: 48%;
  }
  .landningpage-icon-list .icons-details-item {
    width: 47%;
  }
  .landningpage-icon-list {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .landingPage-header {
    /* display: none; */
  }
  .instant-grid-left img {
    width: 100%;
  }

  .hero-grid-img img {
    width: 100%;
  }
 
  .her-grid-left-inner {
    align-items: unset;
    text-align: unset;
  }
  .hero-grid {
    gap: 40px 0;
  }
  .her-grid-left-inner h1 {
    font-size: 27px;
    line-height: 35px;
  }
  .her-grid-left-inner {
    gap: 10px 0;
  }
  .hero-grid {
    padding: 50px 0;
  }
  .simple-minimal-inner {
    padding: 50px 0;
  }
  .simple-minimal-left-inner h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .simple-minimal-left-inner {
    gap: 10px 0;
  }
  .explore-variant-inner {
    padding: 50px 0;
  }
  .explore-variant-img img {
    width: 100%;
  }
  .explore-variant-right-inner h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .explore-variant-right-inner {
    gap: 10px 0;
  }
  .testionomial-sldier-section {
    padding: 50px 0;
  }
  .testinomail-title h2 {
    font-size: 29px;
    line-height: 35px;
  }
  .testinomail-title {
    gap: 10px 0;
  }
  .categories-inner {
    padding: 50px 0;
  }
  .categories-inner h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .categories-inner-title p {
    font-size: 15px;
    margin-top: 20px;
  }
  .categories-inner {
    padding: 50px 20px;
  }
  .categorieslider1 {
    padding: 0;
  }
  .categorieslider2 {
    padding: 0;
  }
  .footer-grid {
    flex-flow: wrap;
    gap: 30px 0;
  }
  /* .footer-item-menu {
    width: 48%;
  } */
  /* .footer-logo-item {
    width: 100%;
  } */
  .footer-item-menu-inner {
    gap: 15px 0;
  }
  .footer-grid {
    padding: 50px 0;
  }
  .copyright-flex {
    flex-flow: wrap;
    gap: 10px 0;
  }
  .div1 {
    width: 100%;
  }
  .copyright {
    gap: 20px 0;
  }
  .company-overview-inner {
    padding: 0;
    padding-bottom: 40px;
  }
  .company-overview-grid {
    flex-flow: wrap;
    gap: 15px;
    /* justify-content: unset; */
  }
  .brands-item-img img {
    width: unset;
  }
  .simple-minimal-right {
    flex-direction: column;
  }
  .simple-minimal-small-img-grid {
    flex-direction: row;
    justify-content: space-between;
  }
  .simple-minimal-small-img-grid {
    width: unset;
  }
  .simple-minimal-small-img-grid div {
    width: 100px;
    height: 100px;
  }
  .simple-minimal-right {
    gap: 40px 0;
  }
  .categories-grid .slick-slide > div {
    margin: 0 10px;
  }
  .categories-grid .slick-list {
    margin: 0 -10px;
  }
  .testionomial-sldier-section-container {
    padding: 0 20px;
  }
  .landingPage-header-root-scroll .scrolling-header-grid {
    flex-flow: wrap;
    gap: 20px 0;
  }
  .header-search-bar {
    order: 3;
  }
  .header-grid-logo img {
    width: 120px;
  }
  .header-grid-singup {
    gap: 0 10px;
  }
  .landingPage-header-root-scroll .search-container {
    width: 100%;
  }
  .header-search-bar {
    width: 100%;
  }
  .search-container .search-container-button{
    display: none;
  }
  .scrolling-header-grid {
    flex-flow: wrap;
    gap: 20px 0;
  }
  .header-search-bar .search-container {
    padding: 0 20px;
  }
  .icons-hero-title h1{

  }
  .feature-hero-title h1 {
    font-size: 27px;
    line-height: 31px;
  }
  .feature-hero-title {
    gap: 10px 0;
  }
  .feature-hero-title {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .feature-good-company-grid {
    flex-flow: wrap;
    gap: 20px;
    padding-bottom: 45px;
  }
  .instant-search-inner {
    padding: 45px 0;
  }
  .inner-container2 {
    padding: 0 20px;
  }
  .instant-grid-inner h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .opemstorke-section {
    padding: 45px 0;
  }
  .openStroke-right img {
    width: 100%;
  }
  .openstroke-left h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .brokenStroke-section {
    padding: 45px 0;
  }
  .brokenstroke-left img {
    width: 100%;
  }
  .brokenstroke-right h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .variants-section {
    padding: 45px 0;
  }
  .variants-grid-right img {
    width: 100%;
  }
  .variants-grid-left h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .set-on-brand-section {
    padding: 45px 0;
  }
  .set-on-brand-left img {
    width: 100%;
  }
  .set-on-brand-right h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .custom-stroke-section {
    padding: 45px 0;
  }
  .custom-stroke-right img {
    width: 100%;
  }
  .custom-stroke-left h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .resize-responsive-section {
    padding: 45px 0;
  }
  .resize-responsive-left img {
    width: 100%;
  }
  .resize-responsive-right h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .files-section {
    padding: 45px 0;
  }
  .files-right img {
    width: 100%;
  }
  .files-left h2 {
    font-size: 27px;
    line-height: 36px;
  }
  .feature-header-inner-desktop {
    display: none;
  }
  .feature-header-inner-mobile {
    display: block;
  }
  .feature-header-inner-mobile .header-grid-singup {
    width: unset;
  }
  .feature-header-inner-mobile .menu-open {
    z-index: 9999;
  }
  .feature-header-inner-mobile .feture-header-logo {
    width: unset;
  }
  .freebies-grid-item {
    width: 100%;
  }
  .landingPage-header .header-grid-logo-root {
    width: 46%;
  }
  .landingPage-header .header-grid-singup {
    /* width: 46%; */
    justify-content: flex-end;
  }
  .landningpage-icon-list .icons-details-item {
    width: 100%;
  }
  .icons-details-grid {
    gap: 25px 0;
  }
}

@media only screen and (max-width: 395px) {
  .her-grid-left-inner h1 {
    font-size: 26px;
  }
  .simple-minimal-big-img img {
    width: 100%;
  }
  .header-search-bar .search-container {
    width: 100%;
  }
}
@media only screen and (max-width: 361px) {
  .brands-item-img img {
    width: 76px;
  }
}
