body {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
}
.footer-section {
  padding: 65px 200px;
  background-color: black;
}
.os-white-svg {
  width: 185.67px;
  height: 40px;
}
.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link-con {
  display: flex;
  gap: 50px;
  color: #fff;
}
.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;
}
