.pricing-section {
  display: flex;
  justify-content: center;
}
.pricing-container {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.pricing-que-ans-text-body {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.pricing-que-ans-text-con {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.que-heading-primary {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}
.ans-text-primary {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.brand-svg {
  height: 30px;
  width: 30px;
}
.pricing-heading-primary {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  gap: 10px;
  text-align: center;
}
.price-sec {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  background-color: #f7f7f8;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  font-size: 13px;
  line-height: 17px;
}
.bill-switch-sec {
  width: 100%;
}
.basic-plan {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.plan-text-primary {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-top: 0 !important;
}
.price-plan-con {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.price-plan-body {
  width: 100%;
}
.plan-sec-1 {
  /* padding: 10px÷; */
  margin: 10px;
  text-align: center;
}
.text-con {
  padding-top: 20px;
}
.os-color {
  color: #dbb313;
}
.table-container {
  width: 100%;
}
.price-text-secondary {
  padding-top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.offer-line p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000000;
  height: 60px;
  align-items: center;
}
.plans-title h1 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  padding-top: 10px;
  max-width: 424px;
  text-align: center;
}

.plans-title {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inner-plans-container {
  max-width: 883px;
  margin: 0 auto;
}
.plans-toggle {
  background: #f7f7f8;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.plans-toggle p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.plans-toggle div {
  display: flex;
  gap: 0 10px;
}

.toggle-swtich {
  position: relative;
}
.toggle-swtich input {
  position: absolute;
}
.plans-toggle {
  margin-top: 50px;
  margin-bottom: 30px;
}
.plans-card-root {
  background: #ffffff;
  border: 1px solid #e3e4e7;
  border-radius: 10px;
  width: 280px;
  height: 485px;
}
.card-top-one h5 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #18181c;
}

.card-top-one h4 {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #18181c;
}
.card-top-one p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5e5f6e;
}
.card-top-two button {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #1E3050;
  width: 140px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #C5CAD3;
  border-radius: 10px;
  cursor: pointer;
}
.card-top-two button:hover {
  background: #FAD338;  
}

.primary-btn {
  font-family: var(--font,"Nunito Sans");
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    width: 98.4px;
    height: 40px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 100px;
    border: unset;
    display: flex;
    align-items: center;
    gap: 0 4px;
    justify-content: center;
    cursor: pointer;
}

.card-top-two p {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #5e5f6e;
}
.plans-card-inner {
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.card-top-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}
.card-top-one div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-top-two {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  justify-content: center;
  align-items: center;
}
.plans-card-top {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.plans-card-bottom ul li {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #41434d;
}
.plans-card-bottom ul {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding-left: 18px;
}
.separetor {
  background-color: #e3e4e7;
  width: 100%;
  height: 1px;
}
.plans-card-top {
  padding: 30px 30px 0px 30px;
}
.plans-card-bottom {
  padding: 0 30px 0 30px;
}
.card-top-two {
  position: relative;
}
.card-top-two p {
  position: absolute;
  bottom: -18px;
}
.plans-grid {
  margin-bottom: 30px;
}
.plans-grid {
  display: flex;
  gap: 0 20px;
}
.switch-inactive .react-switch-label {
  background-color: #c8c9d0 !important;
  box-shadow: unset;
}
.pro {
  color: #c49225 !important;
}
.Advance {
  background: linear-gradient(to top right, #7238fa 0%, #fa3838 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.plans-card-top {
  position: relative;
}
.best-value {
  position: absolute;
  top: 0;
  right: 0;
}
.close-icon {
  cursor: pointer;
}
.pricing-header {
  border-bottom: 1px solid #e3e4e7;
}
