.flexColumn {
  flex-direction: column;
}
.gap100 {
  gap: 100px;
}
.flexBox {
  display: flex;
  padding: 54px 0px;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  max-width:1170px;
}
.StyleSet-container-bottom {
  display: flex;
  background: white;
  padding:0px 50px;
  
 
}
.StyleSet-container-bottom-inner {
  display: flex;
  background: white;
  padding-top:100px;
  padding-bottom:100px;
  max-width: 1170px;
    margin: auto;
}
.padding100 {
  padding: 0px 50px;
}
.icons-page-root{
  background:#f1f2f3;
}
/* -------------------------------- */
.StyleSet-section1 {

}
.StyleSet-section-header {
  padding-bottom: 50px;
}
.StyleSet-section1 .heading1 {
  color: var(--_30, #1e3050);
  text-align: center;
  font: 700 28px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
}
.StyleSet-section1 .heading2 {
  color: var(--_30, #1e3050);

  font: 600 16px "Nunito Sans", sans-serif;
  position: relative;
}
.StyleSet-section-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.StyleSet-section-all .grid img{
  height: 300px;
  margin-top: -50px;
}
.StyleSet-section1 .grid {
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  width: 49%;
  height: 342px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.StyleSet-section1 .grid  img{
  /* height: calc(100% - 100px) */
}
.StyleSet-section1 .name {
  background: #6afbe1;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: 0px;
  box-sizing: border-box;
}
.StyleSet-section1 .frame-37341 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.StyleSet-section1 .slim {
  color: #1e3050;
  text-align: left;
  font: 800 16px "Nunito Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
  flex: 1;
}
.StyleSet-section1 ._2-723 {
  color: #1e3050;
  text-align: right;
  font: 800 16px "Nunito Sans", sans-serif;
  position: relative;
}
.StyleSet-section1 .easy-readable-icons-that-blend-in-with-regular-text {
  color: #1e3050;
  text-align: left;
  font: 400 16px "Nunito Sans", sans-serif;
  position: relative;
  align-self: stretch;
}

/* ------------------------------ */

.search-section {
  background: var(--white, #ffffff);
    display: flex;
    height: 200px;
    justify-content: space-between;
    margin-top: 48px;
    width: 100%;
    gap: 20px;
    max-width:1170px;
}
.frame-37335 {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center;
  justify-content: center; */
  width: 270px;
  height: 150px;
  padding-top: 28px;
}
.t1 {
  color: #1e3050;
  text-align: center;
  font: 700 32px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t2 {
  color: #1e3050;
  text-align: center;
  font: 600 16px "Nunito Sans", sans-serif;
  position: relative;
}
/* ---------------------------------------- */
.frame-37362,
.frame-37362 * {
  box-sizing: border-box;
}
.frame-37362 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1170px;
  position: relative;
}
._99-brand-logos {
  color: var(--_30, #1e3050);
  text-align: center;
  font: 700 28px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.easily-add-the-most-popular-brand-logos-to-your-project-or-website {
  color: var(--_30, #1e3050);
  text-align: center;
  font: 600 16px "Nunito Sans", sans-serif;
  position: relative;
}
.frame-37362 .icon-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
  max-height: 320px;
  overflow: hidden;
}
.frame-37362 .icon-grid-atom {
  background: #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
  width: 170px;
  height: 140px;
  position: relative;
  flex-grow: 1;
}
.label {
  color: #676f7e;
  text-align: center;
  font: 500 14px "Nunito Sans", sans-serif;
  text-transform: lowercase;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - -16px);
  width: 100px;
}
.brand-logos {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 31px);
  overflow: visible;
}

.frame-37363 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-flag {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-37362 .button2 {
  color: #1e3050;
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
/* ------------------------------------------------------------ */

.frame-37364 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-37344 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._48-categories {
  color: var(--_30, #1e3050);
  text-align: left;
  font: 700 28px "Nunito Sans", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-have-categorized-our-icons-so-that-you-can-use-these-icons-effortlessly-in-your-projects-additionally-we-are-adding-more-every-month {
  color: var(--_30, #1e3050);
  text-align: left;
  font: 600 16px "Nunito Sans", sans-serif;
  position: relative;
  align-self: stretch;
}

.frame-37334 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  position: relative;
  flex-grow: 1;
}
.m {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.communication {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37345 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.b {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.food-drinks {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37346 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.m2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.healthcare {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37347 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.b2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.e-commerce {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37348 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.c {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.photography {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37349 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.b3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.education {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37354 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.e {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.interface {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-373502 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.c2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.camping {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37355 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.s {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.weather {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37351 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.f {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.business {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37356 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.v {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.media-playback {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37352 {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 104px;
  position: relative;
}
.i {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.finance {
  color: #1e3050;
  text-align: center;
  font: 500 16px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-37365 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-37364 .icon-grid {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.rectangle-2412 {
  background: #1e3050;
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}
.rectangle-2414 {
  background: #1e3050;
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - 10px);
}
.rectangle-2413 {
  background: #1e3050;
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - -1px);
}
.rectangle-2415 {
  background: #1e3050;
  border-radius: 1px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: calc(50% - -1px);
  top: calc(50% - -1px);
}
.frame-37364 .button2 {
  color: #1e3050;
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
/* ------------------------------------- */

.pitch {
  padding:0px 50px;
  /* margin-top:100px; */
  height:260px;
}
.pitch p strong {
  color: #7238fa;
}
.pitch .background {
  background: linear-gradient(to left, #fad338, #fad338);
  width: 100%;
  height: 260px;
  position: absolute;
}
.pitch .frame-37335 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 670px;
  background: transparent;
}
.pitch .openstroke-io {
  color: var(--_30, #1e3050);
  text-align: center;
  font: 700 28px "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pitch p {
  text-align: left;
  font: 600 16px "Nunito Sans", sans-serif;
  position: relative;
  align-self: stretch;
  color: #1e3050;
  font: 600 16px "Nunito Sans", sans-serif;
}
.pitch .button {
  background: #5a4ed9;
  border-color: #ffffff;
}
.pitch .icon-grid {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.pitch .rectangle-2412 {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 9px;
  height: 9px;
}
.pitch .rectangle-2414 {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 9px;
  height: 9px;
}
.pitch .rectangle-2413 {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 9px;
  height: 9px;
}
.pitch .rectangle-2415 {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 9px;
  height: 9px;
}
.pitch .button2 {
  color: #ffffff;
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
/* ------------------------------------------ */
.counting-section {
  flex-shrink: 0;
  width: 983px;
  position: static;
  margin-bottom: 20px;
}
.counting-section__ad {
  background: #dbe7ff;
  /* display: flex; */
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 970px;
  height: 90px;
  
}
.counting-section__ads {
  color: #000000;
  text-align: center;
  font: var(--button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.counting-section__icon-close-circle {
    position: relative;
    top: 18.5px;
    cursor: pointer;
    right: calc(-100% + 25px);
}