.heading_cont {
    display: flex;
    width: 100%;
    padding: 7rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;

    background: linear-gradient(180deg, rgba(235, 245, 255, 0.00) 0%, #EBF5FF 50%, rgba(235, 245, 255, 0.00) 100%), #FFF;
}

.text_cont {
    max-width: 80.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
}

.text_cont h1 {
    color: var(--pastel-ink-blue, #0074FF);
    text-align: center;
    font-family: var(--font, "Nunito Sans");
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5rem;
    /* 111.111% */
    letter-spacing: 0.9rem;
    text-transform: uppercase;
    max-width: 75.6875rem;
    margin: 0;
}

.text_cont p {
    color: var(--text-secondary, #676F7E);
    text-align: center;
    /* P/Large */
    font-family: var(--font, "Nunito Sans");
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 52.5rem;
    margin: 0;
}

.bottom_padding {
    padding-bottom: 6.25rem;
}

@media(max-width: 900px) {

    .heading_cont {
        padding: 3rem 0;
    }

    .text_cont h1 {
        margin: 1rem 0;
        font-size: 7vw;
        line-height: 7.5vw;
        letter-spacing: 1vw;
        margin: 2vw 0;
    }

    .text_cont p {
        max-width: 27.5rem;
    }
}

@media(max-width: 900px) {
    .heading_cont {
        padding: 8vw 0;
    }

    .text_cont {
        gap: 2vw;
    }

    .text_cont h1 {
        font-size: 8vw;
        letter-spacing: .5vw;
    }

    .text_cont p {
        font-size: 3vw;
        max-width: 70%;
    }
}