.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 164%;
  height: 100%;
  background-color: #F7D56E;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}

.header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 110px;
  margin-bottom: 50px;
}

.heading {
  color: #000000;
}

.gradient {
  text-align: center;
  background: linear-gradient(to right, #9453FD 20%, #FD53B9 40%, #9453FD 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s normal infinite;
}

.board {
  background-color: #000000;
  border: 20px solid #FFFFFF;
  position: relative;
  color: #FFFFFF;
  height: 500px;
  width: 1110px;
  margin-bottom: 70px;
}

.board > p {
  margin-left: 100px;
  margin-right: 100px;
}

.board_title {
  font-family: 'Chalkboard', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0px;
  margin-top: 89px;
  margin-bottom: 24px;
}

.board_text {
  font-family: Chalkboard;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0px;
  margin-bottom: 55px;
}

.board_signature {
  font-family: Figma Hand;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0px;
}

.board_cactus {
  position: absolute;
  right: 80px;
  bottom: -20px;
  z-index: 1;
}

.columns {
  width: 1111px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 170px;
}

.column {
  width: calc(33% - 33px);
}

.column_title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.column_items {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0px;
}

.column_item {

}

.checkmark {
  font-weight: 700;
}

@media(max-width:1280px) {
  .wraper::before {
      width: 208%;
  }
}

@media(width < 1200px) {
  .container {
    padding: 0 30px;
  }

  .board {
    width: 100%;
  }

  .columns {
    width: 100%;
  }
}

@media(max-width: 900px) {
  .wraper::before {
    width: 300%;
  }

  .columns {
    gap: 20px;
  }

  .column {
    width: calc(33% - 10px);
  }

  .column_title {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 20px;
  }
  
  .column_items {
    font-size: 1rem;
    line-height: 2.25rem;
  }
}

@media(width < 750px) {
  .board {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .board_title {
    margin-top: 0;
  }

  .board > p {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(width < 600px) {
  .container {
    padding: 0 15px;
  }

  .columns {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .column_items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media(width < 500px) {

  .board_title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .board > p {
    margin-left: 25px;
    margin-right: 25px;
  }

  .board_text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .board_cactus {
    right: 20px;
  }
}