.style_section_cont * {
    box-sizing: border-box;
}

.style_section_cont {
    display: flex;
    flex-wrap: wrap;
    max-width: 76.875rem;
    margin: 0 auto;
    padding-bottom: 6.25rem;
}

.style_section_cont .style_card {
    display: flex;
    width: 24.625rem;
    height: 24.625rem;
    padding: 3.75rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    border: .1rem solid #C5CAD3;
    background: var(--support-white, #FFF);
    margin: -.1rem 0 0 -.1rem;
    cursor: pointer;
}

.style_section_cont .style_card:first-child {
    width: calc(24.59rem*2);
    /* gap: 2.5rem; */
}

.style_section_cont .style_card:first-child .txt h3 {
    color: var(--text-primary, #1E3050);
    font-family: var(--font, "Nunito Sans");
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
}

.style_section_cont .style_card:first-child .txt p {
    color: var(--text-primary, #676F7E);
    /* P/Large */
    font-family: var(--font, "Nunito Sans");
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: .62rem;
}

.style_card .action {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.style_card .action p {
    color: var(--text-secondary, #676F7E);
    font-family: var(--font, "Nunito Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .7rem;
    margin: 0;
}

.style_card .action p .badg {
    display: flex;
    padding: 0.125rem 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    align-self: stretch;
    border-radius: 0.25rem;
    background: #FBDE6A;
}

.style_card .style_image {
    height: 100%;
    width: 100%;
}

@media(max-width: 1024px) {
    .style_section_cont .style_card:first-child {
        width: 100%;
    }

    .style_section_cont .style_card:first-child .style_icon_svg {
        height: 9vw;
        width: 9vw;
    }

    .style_section_cont .style_card {
        width: 50.1%;
        height: 45vw;
        padding: 5vw;
    }

    .style_section_cont {
        padding-bottom: 4.25rem;
    }
}

@media(max-width: 600px) {
    .style_section_cont .style_card {
        width: 100%;
        height: 90vw;
        padding: 9vw;
    }

    .style_section_cont .style_card:first-child .txt h3 {
        font-size: 6vw;
    }

    .style_section_cont .style_card:first-child .style_icon_svg {
        height: 17vw;
        width: 17vw;
    }

    .style_section_cont .style_card:first-child .txt p {
        font-size: 3.5vw;
        margin-top: 1.5vw;
    }

    .style_card .action p {
        font-size: 3vw;
    }

}