.hero-frame{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
}
.left-side-elements {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  position: relative;
  flex: 1;
  max-width: 165px;
}
.shape-1 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-37529 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.shape-73 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.shape-74 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-frame-content {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 740px;
  position: relative;
}
.frame-37519 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.hero-frame-content .search-container{
  width:calc(90% - 40px);

}
.frame-37518 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.access {
  color: var(--text-primary, #1e3050);
  text-align: center;
  font: var(--header-h-2, 700 32px "Nunito Sans", sans-serif);
  position: relative;
}
.f {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._64-768-bluechip {
  color: var(--text-primary, #1e3050);
  text-align: center;
  font: var(--header-h-2, 700 32px "Nunito Sans", sans-serif);
  position: relative;
}
.n {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.vector-icons {
  color: var(--text-primary, #1e3050);
  text-align: center;
  font: var(--header-h-2, 700 32px "Nunito Sans", sans-serif);
  position: relative;
}
.to-ship-projects-70-faster {
  color: var(--text-primary, #1e3050);
  text-align: center;
  font: var(--header-h-2, 700 32px "Nunito Sans", sans-serif);
  position: relative;
}
.icon-rocket-variant-standard-price-paid {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.hero-d {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
.search {
  background: var(--support-white, #ffffff);
  border-radius: 16px;
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  padding: 18px 6px 18px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
  box-shadow: inset 0px 5px 0px 0px rgba(92, 107, 138, 0.25);
}
.search-01-custrg {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.search2 {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--link-link, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  cursor:pointer;
  background: var(--primary-fill, #fad338);
  border-radius: var(--primary-radius, 10px);
  border-style: solid;
  border-color: #1e3050;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1),
    0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-left:20px;
  padding-right:20px;
  height:52px;
  box-sizing: border-box;
}
.button2 {
  color: var(--primary-label, #1e3050);
  text-align: center;
  font: var(--button-button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side-elements {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  position: relative;
  flex: 1;
  max-width: 165px;
}
.shape-31 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-37530 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.shape-81 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.shape-50 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.hero-t1,
.hero-t2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1150px) {
  .hero-frame svg {
    height: 28px;
  }
  .frame-37518 div {
    font-size: 28px;
  }
  .hero-d {
    font-size: 14px;
  }
  .right-side-elements,
  .left-side-elements {
    max-width: 120px;
  }
}
@media (max-width: 937px) {
  .right-side-elements,
  .left-side-elements {
    display: none;
  }
}
@media (max-width: 598px) {
  svg {
    height: 22px;
  }
  .frame-37518 div {
    font-size: 22px;
  }
   .hero-d {
    font-size: 12px;
  }
  .container{
    padding:50px 0px;
  }
}
@media (max-width: 598px) {
  .frame-37408{
    gap:28px !important;
  }
  .frame-37408 svg{
    height: 38px !important;
  }
}
@media (max-width: 498px) {
  .hero-frame svg {
    height: 18px;
    width: 18px;
  }
  .frame-37518 div {
    font-size: 18px;
  }
   .hero-d {
    font-size: 10px;
  }
}
@media (max-width: 429px) {
  .hero-frame svg {
    height: 16px;
    width: 16px;
  }
  .frame-37518 div {
    font-size: 16px;
  }
   .hero-d {
    font-size: 8px;
  }
}