.ad_box {
    position: relative;
    width: 45.5rem;
    height: 5.625rem !important;
    background: #FEF9EB;
    margin: 0 auto;
}

.ad_box .ad{
    width: 100%;
    height: 5.625rem;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 1%;
    z-index: 1;
}

.section_cont {
    max-width: 76.875rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.section_cont h3 {
    color: var(--30, #1E3050);

    /* Header/H5 */
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.bottom_sec {
    padding: 6.25rem 0rem;
}

.bottom_sec * {
    margin: 0;
    box-sizing: border-box;
}

.bottom_sec .icon_info_cont {
    display: flex;
    max-width: 76.875rem;
    padding: 3.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    margin: 0 auto;
    border: 1px solid #C5CAD3;
}

.bottom_sec .icon_info_cont p {
    color: var(--text-primary, #1E3050);
    /* P/Large */
    font-family: var(--font, "Nunito Sans");
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bottom_sec .icon_info_cont p span {
    color: #1E3050;
    cursor: pointer;
    text-decoration: underline;
}

.bottom_sec .icon_info_cont p span a {
    color: #1E3050;
}

.bottom_sec .icon_info_cont h3 {
    color: var(--30, #1E3050);

    /* Header/H5 */
    font-family: var(--font, "Nunito Sans");
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    display: flex;
    align-items: center;
}

.bottom_sec .icon_info_cont h3 svg {
    margin-left: .31rem;
}

@media(max-width:1024px){
    .ad_box{
        width: 90%;
    }
}

@media(max-width:600px) {
    .bottom_sec .icon_info_cont {
        padding: initial;
        border: none;
    }

    .bottom_sec {
        padding: 5vw 0;
    }

    .section_cont {
        margin-bottom: 5vw;
    }

    .ad_box{
        width: calc(100% - 2*1.3rem);
    }
}