.usecase_cont {
    padding: 6.25rem 0;
    /* max-width: 100.625rem; */
    margin: 0 auto;
    background-image: url("../../assets/images/Mesh\ gradient.svg");
    /* background-attachment: fixed; */
    /* background-position: bottom; */
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 3rem;
}

.usecase_svg {
    width: 100vw;
    height: 100%;
    object-fit: contain;
}

.hero_message_cont {
    padding: 6.25rem 0;
}

.useCase_svg_cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1.88rem 0;
    max-width: 80.625rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.lft_btn {
    background: var(--brand-primary-violet, #7238FA);
    color: white !important;
}

.rgt_btn {
    background: linear-gradient(90deg, #C65EE8 0%, #8756FB 100%);
    color: white !important;
}

.btn_wraper {
    margin-top: 3.75rem;
}

.apple_watch_cont {
    background-image: url("../../assets/images/Apple\ watch.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 2.9 / 3;
}

.useCase_svg_cont svg,
.apple_watch_cont {
    height: fit-content;
}

.svg_cont {
    height: fit-content;
    width: 48.5%;
}

.svg_cont:nth-child(3) {
    width: 100%;
}

.svg_cont svg {
    height: 100%;
    width: 100%;
}

.btn_wraper{
    margin-top: 6vw;
    padding: 0 1.31rem;
}

@media(max-width: 900px) {
    .usecase_cont {
        padding: 3rem 0;
        margin-bottom: 2vw;
    }
}


@media(max-width: 600px) {

    .apple_watch_cont,
    .svg_cont {
        width: 100%;
        height: fit-content;
    }

    .svg_cont:nth-child(3) {
        width: 100%;
        height: 45vw;
    }

    .useCase_svg_cont {
        gap: 1.33rem;
    }

    .usecase_cont {
        padding-bottom: 6.25vw;
    }

    .usecase_cont>div:nth-child(1)>div {
        margin-bottom: 5vw !important;
    }
}