.privacy-policy-ans-text,
.privacy-policy-que-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #2f3037;
}
.privacy-policy-que-text {
  font-weight: 600;
}
.pri-pol-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pri-poli-container {
  display: flex;
  width: 800px;
  flex-direction: column;
  padding: 50px 0 100px;
  gap: 30px;
}
.pri-poli-section {
  display: flex;
  justify-content: center;
}
.pri-poli-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
