.slider_cont{
    position: relative;
}

.slider_cont .gradient{
    position: absolute;
        left: 50%;
        top: 56%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 116%;
}

.hero_message_cont {
    margin-bottom: 3.13rem;
}

.slider_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.slide_tabs_cont {
    padding: 3.125rem 1.875rem;
    display: flex;
    width: 65.625rem;
    max-width: 80.625rem;
    align-items: flex-start;
    gap: 3.125rem;
}

.slide_tabs {
    cursor: pointer;
}

.slide_tabs h5,
.slide_tabs p {
    margin: 0;
}

.slide_tabs_active h5 {
    color: var(--brand-primary-violet, #7238FA) !important;
}

.slide_tabs h5 {

    color: var(--shades-primary, #1E3050);
        text-align: center;
    
        /* Header/H5 */
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.slide_tabs p {
color: var(--shades-primary, #1E3050);
    text-align: center;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    opacity: 0.6;

    margin-top: .63rem;
}

.section_center {
    margin: 0 auto;
    width: 100%;
    max-width: 80.625rem;
    height: 52rem;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
}

article svg {
    width: 100%;
    height: 100%;
}

.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

.lastSlide {
    transform: translateX(-100%);
}

.nextSlide {
    transform: translateX(100%);
}

.progress_bar_cont {
    height: .2rem;
    width: 100%;
    background-color: #C5CAD3;
    border-radius: 2rem;
    margin-top: 1.25rem;
}

.progress_bar {
    background-color: #7238FA;
    border-radius: 2rem;
    width: 0;
    height: 100%;
}

.lft_btn {
    background: var(--brand-primary-violet, #7238FA);
    color: white !important;
}

.rgt_btn {
    background: linear-gradient(90deg, #C65EE8 0%, #8756FB 100%);
    color: white !important;
}

/* .btn_wraper {
    margin-top: 3.75rem;
} */

@media(max-width: 1281px) {
    .slide_tabs_cont {
        width: 80vw;
        padding: 1.125rem 1.875rem;
    }

    .section_center {
        max-height: 60vw;
    }

    .gradient{
        display: none;
    }
}

@media(max-width: 900px) {
    .hero_message_cont {
        padding: initial;
        margin-bottom: 3vw;
    }

    .slide_tabs_cont {
        width: calc(100% - 8vw);
        padding: 4vw 4vw;
        gap: 3vw;
    }

    .section_center {
        width: 100%;
        height: 57vw;
    }

    .section_center article {
        width: 100%;
        height: 100%;
    }

    .section_center article svg {
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 600px) {

    .hero_message_cont {
        padding: 5vw 0 2.25vw 0;
    }

    .slide_tabs_cont h5 {
        font-size: 3.8vw;
    }

    .slide_tabs_cont p {
        font-size: 2.5vw;
        margin-top: 1vw;
    }

    .slide_tabs_cont {
        width: calc(100% - 12vw);
        padding: 6vw;
        justify-content: space-around;
        border-bottom: .1vw solid #e5e9f1;
    }

    .slider_desc_mobile {
    color: var(--shades-primary, #1E3050);
        text-align: center;
        font-family: Inter;
        font-size: 3vw;
        width: 70%;
        margin: 3vw auto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 40rem;
        opacity: 0.6;
    }

    .btn_wraper{
        padding: 0 1.3rem;
        margin-top: 6vw;
    }
}