@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700;6..12,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font: 'Inter',sans-serif;
  /* --font: "Nunito Sans"; */
}

* {
  /* font-family: var(--font, "Nunito Sans"); */
  font-family: 'Inter', sans-serif;
}

.signIn-btn {
  background: #f0f1f3;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  position: relative;

  cursor: pointer;
}

.icon-sign-in {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.unread {
  background: #ff9600;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  right: 2px;
}

.landingPage.StyleSet-section1 {
  background: #DAFA4C;
  width: 100%;
  padding: 100px 50px;
}

.landingPage-StyleSet-section1-inner {
  max-width: 1170px;
  margin: auto;
}

.landingPage.StyleSet-section1 .slim {
  color: var(--text-tint-white, #FFF) !important;
}

.landingPage.StyleSet-section1 ._2-723 {
  color: var(--text-tint-white, #FFF) !important;
}

.landingPage.StyleSet-section1 .easy-readable-icons-that-blend-in-with-regular-text {
  color: var(--text-tint-white, #FFF) !important;
}

.hero-section__button,
.hero-section__button3 {
  cursor: pointer;
}

.landingPage-root {
  background: #F9FBFD;
}

.container {
  background: var(--support-white, #ffffff);
  padding: 100px 0px 100px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.container-frame {
  padding: 0px 30px 0px 30px;
  width: 100%;
  max-width: 1230px;
  position: relative;
}

.container-frame .container-frame-content .flex1 img {
  width: 100%;
}

.containerWhite {
  background: white;
}

.mobileSideBar {
  display: flex !important;
  width: 100%;
  flex-direction: column;
}

.mobileSideBar .filter {
  width: 100%;
}

.react-responsive-modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 598px) {
  .container {
    padding: 50px 0px;
  }

  .mobile-only {
    display: block !important;
  }
}

.advance-btn:disabled {
  background: lightgray !important;
}

.section-login .advance-btn {
  width: 100% !important;
  color: #1E3050 !important;
  border-radius: 6.25rem;
  background: var(--pastel-bright-green, #36DC5E);
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border: none;
}

.mobile-only {
  display: none;
}