html {
  height: fit-content;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: fit-content;
  font-family: var(--font, "Nunito Sans");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__close-button {
  height: 15px !important;
  width: 15px !important;
  align-self: center !important;
}

.Toastify__toast-body {
  margin: 0 !important;
}

.toast-container {
  padding: 10px !important;
  /* height: px !important; */
  min-height: max-content !important;
}

.toast-body {
  font-family: var(--font, "Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #fcfcfd;
}