.main-logo-background {
  background-color: #7238fa;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signin-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
}
.signin-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-input-body {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.signin-context {
  width: 300px;
}
.signin-text-primary {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #5e5f6e;
}

.fullWidthFlex{
  width:100%;
}

.admin-signIn {
  background: var(--support-light-grey, #f0f3f5);
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.admin-signIn .os {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.admin-signIn .login {
  background: var(--support-white, #ffffff);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 480px;
  position: relative;
}
.admin-signIn .container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 440px;
  position: relative;
}
.admin-signIn .textbox {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.admin-signIn .body-1 {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--body-body-1, 500 13px "Nunito Sans", sans-serif);
  position: relative;
}
.admin-signIn .atom-textbox {
  background: var(--support-light-grey, #f0f3f5);
  border-radius: 8px;
  border-style: solid;
  border-color: #c5cad3;
  border-width: 2px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.admin-signIn .body-12 {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--title-subtitle-1, 600 15px "Nunito Sans", sans-serif);
  position: relative;
  flex: 1;
}
.admin-signIn .email-sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 19px;
  min-width: 280px;
  max-width: 340px;
  position: relative;
}
.admin-signIn .button {
  min-width: 280px;
  max-width: 340px;
}
.admin-signIn .icon-sign-in {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.admin-signIn .button2 {
  color: var(--primary-label, #1e3050);
  text-align: center;
  font: var(--button-button, 800 15px "Nunito Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-signIn .don-t-have-an-account-sign-up {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: var(--undefined, 500 16px "Nunito Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-signIn .don-t-have-an-account-sign-up-span {
  color: var(--text-secondary, #676f7e);
  font: var(--p-medium, 500 16px "Nunito Sans", sans-serif);
}
.admin-signIn .don-t-have-an-account-sign-up-span2 {
  color: var(--text-secondary, #676f7e);
  font: 500 16px "Nunito Sans", sans-serif;
  text-decoration: underline;
}
.admin-signIn .copyright {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.admin-signIn .powered-by-sketchish-2018-2023-all-rights-reserved-v-1-0 {
  color: var(--text-secondary, #676f7e);
  text-align: center;
  font: var(--p-s-regular, 400 10px "Work Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-container-body{
  height:calc(100vh - 156px) !important;
  flex:1;
  flex-direction: column;
  overflow:auto !important;
}

@media(max-width: 600px){
  .signin-input-body {
      gap: 5vw;
    }
}