.add-to-bucket {
  background: var(--support-white, #ffffff);
  border-radius: 16px;
  border-style: solid;
  border-color: #c5cad3;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  position: relative;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.add-to-bucket-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.add-to-bucket-frame-12 {
  border-style: solid;
  border-color: #c5cad3;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.add-to-bucket2 {
  color: var(--text-secondary, #676f7e);
  text-align: left;
  font: var(--p-small, 600 14px "Nunito Sans", sans-serif);
  position: relative;
  flex: 1;
}
.add-to-bucket-body-oneline {
  border-style: solid;
  border-color: #f0f3f5;
  border-width: 0px 0px 1px 0px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  cursor:pointer;
}
.add-to-bucket-option {
  color: var(--icon-primary, #1e3050);
  text-align: left;
  font: var(--p-medium, 600 16px "Nunito Sans", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

