.verify-suc-main {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font,"Nunito Sans");
}
.verify-suc-main-c {
  height: 30.9375rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font,"Nunito Sans");
}
.vs-mail-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 172px;
  background: #f7f7f8;
  
}

.vs-title {
  width: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.vs-content {
  color: #5e5f6e;
  margin-bottom: 10px;
  width: 250px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

/**************************/
/* SetupProfile */
/**************************/
.snp-main {
  display: flex;
  width: 720px;
  height: 512px;
  background: #fcfcfd;
  border-radius: 2px;
  padding: 20px;
}

.snp-con {
  width: 100%;
}

.snp-header {
  width: 100%;
}
.sp-uploded-img {
  width: 80px;
  height: 80px;
  border-radius: 200px;
  cursor: pointer;
}

.sp-uploded-img-lable {
  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-align: center;

  color: #5e5f6e;
}

.snp-profile-img-area,
.snp-input-area,
.snp-btn-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.snp-input-area {
  margin-top: 57px;
}

.snp-btn-area {
  margin-top: 0px;
}

.snp-input-sel-box {
  margin-top: 10px;
  width: 250px;
}

.snp-input-fields {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.snp-input-dropdown {
  width: 250px;
  height: 38px;
  padding: 7px 10px;
  background: #ffffff;
  border: 0.5px solid #c8c9d0;
  border-radius: 2px;

  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  -webkit-appearance: none;
  -moz-appearance: none;
  color: #18181c;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.snp-input-sel {
  width: 250px;
  height: 38px;
  padding: 7px 10px;
  background: #ffffff;
  border: 0.5px solid #c8c9d0;
  border-radius: 2px;

  font-family: var(--font,"Nunito Sans");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.snp-input-box {
  width: 120px;
}
.hide {
  visibility: hidden;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-50 {
  margin-top: 50px;
}

.react-responsive-modal-root .lib-input-box{
  height:28px !important;
}