.react-slider {
  width: 140px;
  align-items: center;
  justify-content: center;
  /* border-radius: 4px; */
  background-color: #ccc;
}

.react-slider-thumb {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #2f3037;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  border-radius: 50%;
  cursor: grab;
}

.react-slider-thumb:active {
  cursor: grabbing;
}

.react-slider-track {
  height: 4px;
  background: #e3e4e7;
}

.react-slider-track.react-slider-track-0 {
  background: #2f3037;
}
